.pagination {
	border-top: 2px solid $light-grey;
	margin-top: 15px;
	min-height: 30px;
	position: relative;
	text-align: center;

	ul {
		margin: 0 auto;
		position: relative;
		width: 200px;

		li {
			@include font-size(22);
			display: inline-block;
			padding: 15px 0;

			a {
				color: $text-grey;
				padding: 0 15px;
				text-decoration: none;
			}

			&.previous {
				left: -30px;
				position: absolute;
				top: 5px;

				a {
					padding: 0;
				}
			}

			&.next {
				position: absolute;
				right: -30px;
				top: 5px;

				a {
					padding: 0;
				}
			}

			&.previous span,
			&.next span {
				@include font-size(24);
				cursor: pointer;
				display: inline-block;
				vertical-align: text-top;
			}

			&.current {
				border-top: 5px solid $RM-blue;

				a {
					font-family: $DINBold;
					color: $RM-blue;
				}
			}

			&.etc {
				font-family: $DINRegular;
				letter-spacing: 5px;
			}
		}
	}
}