<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Page Picker" Id="Umbraco.ContentPickerAlias" Definition="80e6f075-317d-4f36-977a-0ae1bae89fb3" DatabaseType="Integer">
  <PreValues>
    <PreValue Id="46" Value="0" Alias="showEditButton" SortOrder="0" />
    <PreValue Id="47" Value="1048" Alias="startNodeId" SortOrder="1" />
  </PreValues>
  <Nodes>
    <Node Id="1048" Value="Home" Alias="startNodeId" Type="content" />
  </Nodes>
</DataType>