<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Title Dropdown" Id="Umbraco.DropDown" Definition="520ca857-6413-44aa-bb2d-1a883f3db568" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="21" Value="Mr" Alias="0" SortOrder="0" />
    <PreValue Id="22" Value="Mrs" Alias="1" SortOrder="1" />
    <PreValue Id="24" Value="Miss" Alias="2" SortOrder="2" />
    <PreValue Id="23" Value="Ms" Alias="3" SortOrder="3" />
    <PreValue Id="48" Value="Mx" Alias="4" SortOrder="4" />
    <PreValue Id="25" Value="Dr" Alias="5" SortOrder="5" />
    <PreValue Id="49" Value="Sir" Alias="6" SortOrder="6" />
    <PreValue Id="50" Value="Dame" Alias="7" SortOrder="7" />
  </PreValues>
</DataType>