<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Settings Folder</Name>
    <Alias>SettingsFolder</Alias>
    <Icon>icon-tools</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>SettingsFolder</DocumentType>
    <DocumentType>Formatfolder</DocumentType>
    <DocumentType>Layoutfolder</DocumentType>
    <DocumentType>PageCollection</DocumentType>
    <DocumentType>PostageOptionFolder</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>