<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Settings Folder</Name>
    <Alias>SettingsFolder</Alias>
    <Icon>icon-tools</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>SettingsFolder</DocumentType>
    <DocumentType>Formatfolder</DocumentType>
    <DocumentType>Layoutfolder</DocumentType>
    <DocumentType>PageCollection</DocumentType>
    <DocumentType>PostageOptionFolder</DocumentType>
    <DocumentType>MailshotDefaultContentFolder</DocumentType>
    <DocumentType>DataMappingFolder</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>VAT Rate</Name>
      <Alias>vatRate</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Pricing Information</Tab>
      <Mandatory>False</Mandatory>
      <Validation>\d+\.\d\d</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>MSOL Per Use Fee</Name>
      <Alias>msolPerUseFee</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Pricing Information</Tab>
      <Mandatory>False</Mandatory>
      <Validation>\d+\.\d\d</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Price per rented data record</Name>
      <Alias>pricePerRentedDataRecord</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Pricing Information</Tab>
      <Mandatory>False</Mandatory>
      <Validation>\d+\.\d\d</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Data rental service per use fee</Name>
      <Alias>dataRentalServicePerUseFee</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Pricing Information</Tab>
      <Mandatory>False</Mandatory>
      <Validation>\d+\.\d\d</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>83</Id>
      <Caption>Pricing Information</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>