<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Master</Name>
  <Alias>Master</Alias>
  <Design><![CDATA[@using ClientDependency.Core.Mvc
@using ClientDependency.Core
@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.BasePage>
@{
    Layout = null;

    Html.RequiresJs("~/scripts/jquery-1.10.2.min.js", 1);
    Html.RequiresCss("~/css/temp.css", 1);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name</title>
    <meta name="description" content="@Model.MetaDescription" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    @Html.RenderCssHere()
    @Html.RenderJsHere()
</head>
<body>
    <div class="wrapper"> 
        <header>
            <nav class="main-nav">
                @Umbraco.RenderMacro("MainNavigation")
                @Umbraco.RenderMacro("HeaderNavigation")
            </nav>
        </header>
        @RenderBody()
    </div>
</body>
</html>
]]></Design>
</Template>