<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Master</Name>
  <Alias>Master</Alias>
  <Design><![CDATA[@using ClientDependency.Core.Mvc
@using ClientDependency.Core
@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.BasePage>
@{
    Layout = null;

    Html.RequiresJs("~/scripts/jquery-1.10.2.min.js", 1);
    Html.RequiresCss("~/css/temp.css", 1);
    Html.RequiresCss("~/css/main.css", 2);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name</title>
    <meta name="description" content="@Model.MetaDescription" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    @Html.RenderCssHere()
    @Html.RenderJsHere()

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
        }({
            instrumentationKey:"@RM.MailshotsOnline.Data.Helpers.ConfigHelper.AppInsightsKey"
        });

        window.appInsights = appInsights;
        @if(Request.Url.Host != "localhost")
        {
        <text>appInsights.trackPageView();</text>
        }
    </script>
</head>
<body>
    <div class="wrapper"> 
        <header>
            <nav class="main-nav constrain">
                @Umbraco.RenderMacro("MainNavigation")
                @Umbraco.RenderMacro("HeaderNavigation")
            </nav>
        </header>
        @RenderBody()
    </div>
</body>
</html>
]]></Design>
</Template>