<!-- batch tray -->
<div class="batch-tray" data-bind="css: {visible: selectedListCount() > 0, open: isOpen}">
	<div class="batch-tray-container">
		<div class="constrain">
			<div class="batch-tray__info">
				<button class="btn btn--icon arrow" data-bind="click: expandTray"><span class="icon-next"></span></button>
				<h5 class="lists-text"><span class="number" data-bind="text: selectedListCount"></span> List<span data-bind="visible: selectedListCount() > 1">s</span> selected (<span data-bind="text: totalCount"></span>)</h5>
			</div>
			<div class="batch-tray__actions">
				<input type="checkbox" name="sendtoself" id="sendtoself">
				<label>send one to myself</label>

				<button type="button" class="btn btn--green btn--icon-right">Add to Campaign<span class="btn-icon icon-next"></span></button>
			</div>
			<div class="batch-tray__list-container scrollable scrollable--dark" perfect-scrollbar>
				<ul class="batch-tray__list">
					<!-- ko foreach: selectedLists -->
					<li>
						<span class="icon-tick"></span>
						<span class="list-name" data-bind="text: Name"></span>
						<span class="list-count" data-bind="text: RecordCount"></span>
						<button type="button" class="text-btn remove">Remove
							<span class="icon-close"></span>
						</button>
					</li>
					<!-- /ko -->
				</ul>
			</div>
		</div>
	</div>
</div>