<div class="campaign-list constrain">
	<!-- ko if: loading -->
		<div class="loading-gif"></div>
	<!-- /ko -->
	<!-- ko if: !loading() -->

	<!-- ko if: !campaignList().length -->
		<div class="campaign-list__header-bar">
			<h1>Campaigns (<span data-bind="text: campaignList().length"></span>)</h1>
		</div>
		<div class="content-box campaign-list__empty">
			<h5>You don't have any campaigns yet</h5>
			<a data-bind="click: createNew" href="" class="btn btn--blue btn--icon-right">Create a new campaign<span class="btn-icon icon-add"></span></a>
		</div>
	<!-- /ko -->

	<!-- ko if: campaignList().length -->
		<div class="campaign-list__header-bar">
			<h1>Campaigns (<span data-bind="text: campaignList().length"></span>)</h1>
			<a data-bind="visible: campaignList().length, click: createNew" href="" class="create">
				<span class="link-text">New Campaign</span>
				<span class="icon-add"></span>
			</a>
		</div>

		<ul class="campaign-list__list">
			<!-- ko foreach: displayedList -->
				<li class="content-box">
					<div data-bind="css: {'placeholder': PreviewImageUrl === ''}" class="image"></div>
					<div class="content">
						<a data-bind="attr: {href: CampaignHubUrl}" href=""><h2 data-bind="text: Name"></h2></a>
						<div class="actions">
							<button data-bind="click: $parent.copy" class="btn" type="button"><span class="icon-copy btn-icon"></span></button>
							<button data-bind="click: $parent.deleteCampaign" class="btn" type="button"><span class="icon-delete btn-icon"></span></button>
						</div>
						<div class="status">
							<!-- ko if: StatusTitle === 'Draft' -->
							<span class="status-icon icon-edit"></span>
							<!-- /ko -->
							<!-- ko if: StatusTitle === 'Processing' -->
							<span class="status-icon icon-refresh"></span>
							<!-- /ko -->
							<!-- ko if: StatusTitle === 'Despatched' -->
							<span class="status-icon icon-next"></span>
							<!-- /ko -->
							<!-- ko if: StatusTitle === 'Delivered' -->
							<span class="status-icon icon-tick"></span>
							<!-- /ko -->
							<div class="status-text">
								<p data-bind="text: StatusTitle" class="strong"></p>
								<p data-bind="html: StatusSubtitle"></p>
							</div>
						</div>
						<div class="details">
							<span class="format">Format: <span data-bind="text: Format"></span></span>
							<span class="recipients">Recipients: <span data-bind="text: TotalRecipientCount"></span></span>
						</div>
					</div>
				</li>
			<!-- /ko -->
		</ul>

		<pagination-component params="data: campaignList, perPage: 5, displayedList: displayedList"></pagination-component>
	<!-- /ko -->

	<!-- /ko -->
</div>