<div class="create-list">
    <div class="title-bar">
        <div class="constrain">
            <a data-bind="attr: {href: backUrl}" href="" class="back"><span class="icon-previous"></span><span data-bind="text: backText" class="back-text"></span></a>
            <h1 data-bind="visible: !titleEdit()"><span data-bind="text: listTitle"></span><span data-bind="click: editTitle" class="edit icon-edit2"></span></h1>
            <div class="edit-controls">
                <form data-bind="submit: checkTitle">
                    <input data-bind="visible: titleEdit, textInput: listTitle" type="text" name="listname" id="listname" placeholder="My List" autocomplete="off">
                    <button data-bind="visible: listTitle().length && titleEdit" type="submit" class="btn btn--blue">Ok</button>
                </form>
                <div data-bind="visible: titleEdit" class="tooltip tooltip--top">Give your list a new name</div>
            </div>
            <a data-bind="visible: step() === 'match', click: cancel" href="" class="cancel"><span class="cancel-text">Cancel import</span><span class="icon-close"></span></a>
        </div>
    </div>

    <div class="constrain">
        
        <upload-data-component data-bind="visible: step() === 'create'"></upload-data-component>
        <match-data-component data-bind="visible: step() === 'match'"></match-data-component>
        <data-summary-component data-bind="visible: step() === 'summary'"></data-summary-component>

    </div>
</div>
<!-- ko if: showEditModal -->
    <add-contact-component></add-contact-component>
<!-- /ko -->
<div data-bind="visible: titleEdit" class="veil"></div>