<div class="match-data content-box">
	<div class="intro-content">
		<h2>Confirm your fields</h2>
		<p class="intro-text">Let us know if your file has column headers and for each column of your contact list, select a field that it corresponds to.</p>
		<p class="strong">Should we import your first row?</p>
		<fieldset>
			<div>
				<input type="radio" name="importoptions" id="importno" value="no">
				<label for="importno">My first row is a header - don't import it</label>
			</div>
			<div>
				<input type="radio" name="importoptions" id="importyes" value="yes">
				<label for="importyes">My first row is a contact - import it</label>
			</div>
		</fieldset>
	</div>
	<table class="match-data__table">
		<thead>
			<tr>
				<th>Your column header</th>
				<th>Sample of your data</th>
				<th>Maps to our field</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn--blue btn--icon-right">Finish adding contacts<span class="btn-icon icon-next"></span></button>
</div>