<section class="lists__my-lists">
	<div class="lists__section-head">
		<h4 data-bind="visible: totalListCount" class="strong">My lists (<span data-bind="text: totalListCount"></span>)</h4>
		<a data-bind="visible: totalListCount() > 0, attr: {href: createUrl}" href="" class="lists__my-lists__create">
			<span class="link-text">Create a new list</span>
			<span class="icon-add"></span>
		</a>
		<div data-bind="visible: totalListCount() === 0" class="content-box lists__my-lists--empty">
			<h5>You don't have any customer lists yet</h5>
			<a data-bind="attr: {href: createUrl}" href="" class="btn btn--blue btn--icon-right">Create a new list<span class="btn-icon icon-next"></span></a>
		</div>
	</div>
	<ul class="lists__my-lists--lists lists__my-lists__list" data-bind="foreach: displayedList">
		<li data-bind="css: {selected: selected}">
			<a href="" class="lists__my-lists__name" data-bind="text: Name, attr: { href: listDetailBaseUrl + DistributionListId}"></a>
			<span class="lists__my-lists__number">
				<span class="icon-person"></span>
				<span class="number" data-bind="text: RecordCount"></span>
			</span>
			<div class="custom-checkbox-grp">
				<label for="listSelect" data-bind="visible: !selected()">Add</label>
				<input class="visually-hidden" type="checkbox" name="listSelect" id="listSelect">
				<span class="custom-checkbox-round icon-tick" aria-label="select list" data-bind="css: {checked: selected}, click: $parent.toggleSelect"></span>
			</div>
		</li>
	</ul>

	<pagination-component params="data: lists, perPage: 6, displayedList: displayedList"></pagination-component>

</section>