<section class="lists__rent-list">
	<div class="lists__section-head">
		<h4 class="strong">Rented List</h4>
		<a href="" class="lists__rent-list__clear">
			<span class="link-text">Clear rented list</span>
			<span class="icon-close"></span>
		</a>
	</div>
	<ul class="lists__rent-list--selected lists__my-lists__list">
		<li>
			<a href="" class="lists__my-lists__name">Rented List</a>
			<span class="lists__my-lists__number">
				<span class="icon-person"></span>
				<span class="number">1000</span>
			</span>
			<div class="custom-checkbox-grp">
				<input class="visually-hidden" type="checkbox" name="listSelect" id="listSelect">
				<span class="custom-checkbox-round icon-Tick" aria-label="select list"></span>
			</div>
		</li>
	</ul>
</section>