<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>My Orders</Name>
  <Alias>MyOrders</Alias>
  <Design><![CDATA[@using RM.MailshotsOnline.Web.Extensions
@using ClientDependency.Core.Mvc
@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.MyOrders>
@{
    Layout = "Master.cshtml";
    Html.RequiresCss("~/css/orders.css", 2);
    var orderDetailsUrl = Model.OrderDetailsPage.Url(); //.CampaignHubPage.Url();
}

<div class="content my-orders">
    @if (Model.Campaigns.Count() > 0)
    {
        <h1>@Model.Name (@Model.ActiveCampaignCount @Model.ActiveLabel)</h1>
        foreach (var campaign in Model.Campaigns)
        {
            <div class="order">
                <div class="preview"></div>
                <div class="actions">
                    <a href="#copy">Copy</a>
                    <a href="#cancel">Can</a>
                    <a href="#download">Down</a>
                </div>
                <h2><a href="@string.Format("{0}?campaignId={1}", orderDetailsUrl, campaign.CampaignId)">@campaign.Name</a></h2>
                <div class="status @campaign.Status.ToString()">
                    <p>@Model.GetStatusText(campaign)</p>
                </div>
                <div class="info">
                    <span>@Model.OrderPlacedLabel @campaign.LatestInvoice().CreatedDate.ToString("dd/MM/yy")</span>
                    <span>@Model.OrderNumberLabel @campaign.LatestInvoice().PaypalOrderId <!-- TODO: Get the proper client-facing order number --></span>
                    <span>@Model.TotalLabel &pound;@campaign.LatestInvoice().Total.ToString("F2")</span>
                </div>
            </div>
        }
    }
    else
    {
        <h1>@Model.Name</h1>
        <div>@Umbraco.Field("noOrdersMessage")</div>
    }
</div>]]></Design>
</Template>