<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Payment Confirmation</Name>
    <Alias>PaymentConfirmation</Alias>
    <Icon>icon-check</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Basepage</Master>
    <Compositions>
      <Composition>Basepage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>PaymentConfirmation</Template>
    </AllowedTemplates>
    <DefaultTemplate>PaymentConfirmation</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Confirmation message</Name>
      <Alias>confirmationMessage</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text displayed when payment is confirmed]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Confirmation Email To User</Name>
      <Alias>confirmationEmailToUser</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Confirmation Email Subject</Name>
      <Alias>confirmationEmailSubject</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Campaign Error Message</Name>
      <Alias>campaignErrorMessage</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Error messages</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Error message displayed if the campaign set in the query string is incorrect]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>PayPal Error Message</Name>
      <Alias>paypalErrorMessage</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Error messages</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Error message displayed if there is a problem with PayPal]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>80</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>81</Id>
      <Caption>Error messages</Caption>
      <SortOrder>1</SortOrder>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>