<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<MediaType>
  <Info>
    <Name>Private Image Library Folder</Name>
    <Alias>PrivateImageLibraryFolder</Alias>
    <Icon>icon-folder</Icon>
    <Thumbnail>icon-folder</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>True</AllowAtRoot>
    <Master>Folder</Master>
  </Info>
  <Structure>
    <MediaType>PrivateLibraryImage</MediaType>
    <MediaType>PrivateImageLibraryFolder</MediaType>
  </Structure>
  <GenericProperties />
  <Tabs />
</MediaType>