@import url(https://fonts.googleapis.com/css?family=Dosis:300,600,500);
@import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700,700italic,400italic,300italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Domine:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,700italic,400italic,300italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
  font-family: "Chevin Bold";
  src: local("Chevin Bold"),
       local("Chevin-Bold"),
       url(/canvas/fonts/chevin-bold.ttf);
}
@font-face {
  font-family: "Chevin Medium";
  src: local("Chevin Medium"),
       local("Chevin-Medium"),
       url(/canvas/fonts/chevinmedium.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Chevin Light";
  src: local("Chevin Light"),
       local("Chevin-Light"),
       url(/canvas/fonts/chevinlight.ttf);
}
@font-face {
  font-family: "PFDin Bold";
  src: local("PFDin Bold"),
       local("PFDin-Bold"),
       url(/canvas/fonts/PFDin-Bold.otf);
}
@font-face {
  font-family: "PFDin Italic";
  src: local("PFDin Italic"),
       local("PFDin-Italic"),
       url(/canvas/fonts/PFDin-Italic.otf);
}
@font-face {
  font-family: "PFDin Regular";
  src: local("PFDin Regular"),
       local("PFDin-Regular"),
       url(/canvas/fonts/PFDin-Regular.otf);
}

@font-face {
  font-family: 'icomoon';
  src:url('/canvas/fonts/icomoon.eot?cvnk6j');
  src:url('/canvas/fonts/icomoon.eot?#iefixcvnk6j') format('embedded-opentype'),
    url('/canvas/fonts/icomoon.ttf?cvnk6j') format('truetype'),
    url('/canvas/fonts/icomoon.svg?cvnk6j#icomoon') format('svg'),
    url('/canvas/fonts/icomoon.woff?cvnk6j') format('woff');
  font-weight: normal;
  font-style: normal;
}



[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
  content: "\e600";
}
.icon-previous:before {
  content: "\e601";
}
.icon-edit:before {
  content: "\e602";
}
.icon-preview:before {
  content: "\e603";
}
.icon-delete:before {
  content: "\e604";
}
.icon-copy:before {
  content: "\e605";
}
.icon-download:before {
  content: "\e606";
}
.icon-upload:before {
  content: "\e607";
}
.icon-close:before {
  content: "\e608";
}
.icon-add:before {
  content: "\e609";
}
.icon-redo:before {
  content: "\e60a";
}
.icon-undo:before {
  content: "\e60b";
}
.icon-save:before {
  content: "\e60c";
}
.icon-tick:before {
  content: "\e60d";
}
.icon-edit2:before {
  content: "\e60e";
}
.icon-downarrow:before {
  content: "\e60f";
}
.icon-chevrondown:before {
  content: "\e610";
}
.icon-profile:before {
  content: "\e611";
}
.icon-edit3:before {
  content: "\e612";
}
.icon-contacts:before {
  content: "\e613";
}
.icon-mail:before {
  content: "\e614";
}
.icon-info:before {
  content: "\e615";
}
.icon-refresh:before {
  content: "\e616";
}
.icon-alert:before {
  content: "\e617";
}
.icon-question:before {
  content: "\e618";
}
.icon-search:before {
  content: "\e619";
}
.icon-person:before {
  content: "\e61a";
}
.icon-searchperson:before {
  content: "\e61b";
}
.icon-importimage:before {
  content: "\e61c";
}
.icon-importcsv:before {
  content: "\e61d";
}
.icon-zoomin:before {
  content: "\e61e";
}
.icon-zoomout:before {
  content: "\e61f";
}
.icon-forward:before {
  content: "\e620";
}
.icon-backward:before {
  content: "\e621";
}
.icon-bold:before {
  content: "\e622";
}
.icon-underline:before {
  content: "\e623";
}
.icon-italic:before {
  content: "\e624";
}
.icon-increasefont:before {
  content: "\e625";
}
.icon-decreasefont:before {
  content: "\e626";
}
.icon-fitfont:before {
  content: "\e627";
}
.icon-leftalign:before {
  content: "\e628";
}
.icon-rightalign:before {
  content: "\e629";
}
.icon-centeralign:before {
  content: "\e62a";
}
.icon-justify:before {
  content: "\e62b";
}
.icon-ulist:before {
  content: "\e62c";
}
.icon-olist:before {
  content: "\e62d";
}
.icon-plus:before {
  content: "\e62e";
}
.icon-minus:before {
  content: "\e62f";
}
.icon-image:before {
  content: "\e630";
}
