@import 'mixins';
@import 'variables';

.auth-modal-bg {
	animation: fadein .25s;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 500px;
	background: rgba(0,0,0,0.6);
	z-index: 999;
}

.auth-modal-container {
	animation: fadein .25s;
}

.auth-modal {
	@include borderradius(3px);
	z-index: 1000;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	min-height: 460px;
	margin-top: -230px;
	margin-left: -300px;
	background: $lightest-grey;
	overflow: hidden;
	font-family: "Chevin Medium", Arial;
	&.auth-modal_registerone {
		margin-top: -320px;
	}
	&.auth-modal_registertwo {
		margin-top: -290px;
	}
	.auth-modal-header {
		width: 100%;
		padding: 15px 30px;
		height: 80px;
		background: $red;
		color: #fff;
		line-height: 50px;
    	font-size: 20px;
    	text-align: left;
    	.close {
    		float: right;
			font-size: 28px;
			line-height: 50px;
			cursor: pointer;
    	}
	}
	.auth-modal-title {
		color: $dark-grey;
		padding: 0 30px;
		h1, h2 {
		    font-family: "Chevin Light", Arial;
		    font-size: 27px;
		    font-weight: lighter;
		}
		h1 {
			margin-top: 40px;
			margin-bottom: 10px;
			line-height: 1px;
		    border-bottom: 1px solid $grey; 
		    width: 100%;
		    span {
		    	padding: 0 20px;
		    	background: $lightest-grey;
		    }
		}
		h2 {
			text-align: left;
		}
		div {
			text-align: left;
		}

	}
	.auth-modal-body {
		padding: 30px 67px;
		color: $dark-grey;
		&.auth-modal-body_smallpad {
			padding-bottom: 0;
		}
		&.auth-modal-body_sidepad {
			padding: 10px 20px;
		}
	}
	.auth-modal-footer {
		position: relative;
		padding: 10px 20px 20px 20px;
		color: $dark-grey;
		.auth-modal-step {
			position: absolute;
		    left: 20px;
		    bottom: 30px;
		    font-size: 13px;
		}
		.auth-modal-info {
			font-size: 14px;
		}
		.auth-modal-buttons {
			padding: 10px;
			text-align: right;
			.button {
				min-width: 150px;
    			display: inline-block;
			}
		}
		.auth-modal-errors {
			position: absolute;
		    font-weight: bold;
		    color: #000;
		    font-size: 14px;
		    top: 50px;
		    left: 30px;
		    width: 360px;
		    padding-left: 50px;
		    text-align: left;
		    color: $darkest-grey;
		    &:before {
		    	font-family: 'icomoon';
		    	content: "\e617";
		    	position: absolute;
		    	left: 0;
		    	color: $darkest-grey;
		    	font-size: 32px;
		    }
		}
	}
	.auth-modal-info {
		padding: 0 10px 10px 10px;
		&.auth-modal-info_link {
			text-align: right;
			a {
				color: $red;
				font-family: "Chevin Bold", Arial;
				cursor: pointer;
				font-size: 14px;
			}
		}
	}
	.auth-modal-row {
		padding: 10px;
		&.auth-modal-row_floatcontent {
			overflow: hidden;
		}
		label {
			width: 150px;
			margin-right: 10px;
			display: inline-block;
			text-align: right;
		}
		input {
			padding: 14px;
			width: 250px;
			border: 1px solid $grey;
		}
		.auth-modal-checkbox {
			width: 20px;
			float: left;
		}
		.auth-modal-checkboxlabel {
			float: left;
		    width: 480px;
		    text-align: left;
		    padding-left: 15px;
		    font-size: 15px;
		}
	}
	.auth-modal-left {
		   position: absolute;
	    left: 20px;
	    bottom: 20px;
	}
	.dropdown {
		margin-right: 150px;
		@include nohighlight();
		.auth-dropdown {
			background-color: #fff;
		    padding: 14px;
		    width: 130px;
		    border: 1px solid $grey;
		    height: 45px;
		    display: inline-block;
		    cursor: pointer;
		    text-align: left;
    		line-height: 17px;
    		position: relative;
    		&:after {
    			font-family: 'icomoon';
    		    content: "\e610";
				position: absolute;
				right: 13px;
				font-size: 20px;
				color: $dark-grey;
			}
		}
		.dropdown-options {
			text-align: left;
		}
		&:after {
			right: 45px;
		}
		&.dropdown_active .auth-dropdown:after {
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
	.g-recaptcha {
		height: 78px;
		padding-left: 10px;
		padding-top: 10px;
	}
}