@import 'mixins';
@import 'variables';

body {
    background: $lightest-grey;
}

.editor {
    @include transition(opacity, 0.5s);
    opacity: 1;
    &.editor_hidden {
        opacity: 0;
    }
}

.canvas-container {
    
    @include transition(transform, 0s);
    position: absolute;
    top: 50px;
    left: 150px;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow: auto;
    background: $lightest-grey;
    transform: translate(0, 0);
    .tools {
        transform: translate(-150px, -50px);
    }
    &.canvas-container_focused {
        top: 0;
        left: 0;
        .side {
            transform: translate(150px, 50px);
            right: 150px;

        }
        .tools {
            transform: translate(0, 0);
        }
    }
    &.canvas-container_small {
        @include transition(transform);
        width: 500px;
        right: auto;
        transform: translate(-190px, 0);
        pointer-events: none;
        .face {
            pointer-events: none;
            > * {
                pointer-events: none;
            }
        }
        .tools {
            display: none !important;
        }
        .selected-overlay_visible {
            display: none !important;
        }
    }
    .face-component {
        animation: fadein .25s;
    }
}


@media all and (max-width: 1100px) {
    .canvas-container.canvas-container_small {
        display: none;
    }
}

.side {
    position: absolute;
    left: 0;
    top: 70px;
    right: 0;
    transform-origin: 0 0;
    z-index: 2;
    pointer-events: none;
    .side-inner {
        display: inline-block;
        pointer-events: all;
        transform-origin: 0 0;
        pointer-events: none;
        > .face-component {
            display: inline-block;
            position: relative;
        }
    }
    &.side_large .side-inner {
        position: absolute;
        .face {
            margin-bottom: 30px;
            margin-right: 30px;
        }
    }
    &.side_small {
        pointer-events: none;
        position: absolute;
        margin: 0;
        top: 20px;
        right: 38px;
        left: auto;
        bottom: auto;
        transform-origin: 100% 0;
        //transform: scale(0.125);
        cursor: pointer;
        z-index: 1;
        box-shadow: $darkest-grey 0px 4px 32px;
        -moz-box-shadow: $darkest-grey 0px 4px 4px;
        > div {
            pointer-events: none !important;
        }
        .face {
            pointer-events: none;
            > * {
                pointer-events: none;
            }
        }
        .selected-overlay {
            display: none !important;
        }
        .editable.editable_active, .component.component_selected {
            z-index: 0;
        }
    }
}

.face-component {
    pointer-events: none;
}

.face {
    display: inline-block;
    background: #FFF;
    position: relative;
    @include shadow(1px, 3px, 0, $lightish-grey);
    pointer-events: none;
    > * {
        pointer-events: all;
    }
    .preview-face-name {
        display: none;
    }
    .face_name {
        position: absolute;
        top: -30px;
        left: 10px;
        font-size: 14px;
        color: #6D6D6D;
    }
    .face-hover {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        &.face-hover_active:before {
            border: 1px solid rgba(0, 0, 0, 0.09);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
        }
    }
}

.selected-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 30px;
    bottom: 30px;
    background: rgba(255, 255, 255, 0.36);
    pointer-events: none;
    z-index: 108;
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s ease-out;
    &.selected-overlay_visible {
        opacity: 1;
    }
}

.dynamic-field {
    //@include nohighlight();
    @include transition(background);
    cursor: pointer;
    display: inline-block;
    &:hover {
        background: rgba(0, 0, 0, 0.09);
        //outline: 1px solid $darkest-grey;
    }
    .dynamic-field-content {
        margin-right: -0.1pc;
        &:before {
            content: attr(data-content);
        }
    }
    .dynamic-field-nohighlight {
        @include nohighlight();
        &:before {
            content: attr(data-content);
        }
    }
}

.preview-side, .theme-container {
    .dynamic-field-content:before {
        content: attr(data-fallback) !important;
    }
    .dynamic-field-nohighlight:before {
        content: attr(data-fallback) !important;
    }
}

.loading {
    @include transition(opacity);
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: $lightest-grey;
    z-index: 1000;
    opacity: 1;
    background-image: url(/canvas/images/loading.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &.loading_complete {
        opacity: 0;
        pointer-events: none;
    }
}