@import 'mixins';
@import 'variables';

// a smorgas board of ie9 and 10 hacks
.ieOld {
    .selected-overlay {
        display: none !important;
    }
    .editable:focus:before, .editable.editable_active:before, .editable:hover:before {
        content: none !important;
    }
    .editable:focus, .editable.editable_active {
        outline: 1px solid rgba(0, 0, 0, 0.09);
    }
    .editable:hover {
        outline: 1px solid $darkest-grey;
    }
    .loading_complete {
        display: none !important;
    }
    .side-picker-clicker {
        background: rgba(0,0,0,0.01);
    }
    .help {
        display: none;
    }
    .help_visible {
        display: block;
    }
    .dropdown-options {
        display: none;
    }
    .dropdown-options_active {
        display: block;
    }
    .colour-dropdown {
        width: 70px !important;
    }
    .layout-container {
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%);
    }
    .layout-container_previewing {
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .options-toolbar.disabled {
        pointer-events: none;
    }
}
.ieOlder {
    .tools-image_own {
        display: none !important;
    }
    .tools-image_own_old_ie {
        display: table-cell !important;
        vertical-align: bottom !important;
    }
    .tab-upload {
        display: none !important;
    }
}
