@import 'mixins';
@import 'variables';
@import 'fonts';

body {
	background: #E4E4E4;
	text-align: center;
	font-family: Arial;
	overflow-y: hidden;
 	height: 100%;
	min-height: 100%;
	margin: 0;
}

html {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}

div, span, a {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.unfocus-div {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.json-output {
	position: fixed;
    bottom: 10px;
    background-color: #fff;
    box-sizing: border-box;
    left: 20px;
    right: 20px;
    font-size: 10px;
    padding: 10px;
    height: 100px;
    overflow-y: auto;
    z-index: 3;
    width: 96%;
    resize: none;
}
