@import 'mixins';
@import 'variables';

.side-picker {
    @include transition(all);
    @include nohighlight();
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 150px;
    background: #FFF;
    z-index: 100;
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    border-right: 1px solid $grey;
    &.side-picker_hidden {
        transform: translate(-150px, 0);
        -ms-transform: translate(-150px, 0);
    }
    .side-picker-inner {
        @include transition(background);
        position: relative;
        width: 100%;
        min-height: 80px;
        text-align: left;
        padding-left: 10px;
        border-bottom: 1px solid $grey;
        cursor: pointer;
        .side-picker-clicker {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1000;
        }
        &:hover {
            background-color: $light-grey;
        }
        &.side-picker-inner_selected {
            background: $blue;
            cursor: auto;
            &:hover {
                background-color: $blue;
            }
            .side-label {
                color: #fff;
            }
        }
        .side-label {
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            text-align: center;
            text-transform: capitalize;
            font-family: 'Chevin Light', Arial;
            color: $darkest-grey;
        }
    }
}