@import 'mixins';
@import 'variables';

.theme-picker {
	position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    height: 230px;
    background: $lightest-grey;
    z-index: 102;
    padding: 20px;
    padding-right: 0;
    box-shadow: rgba(0, 0, 0, 0.18) 3px 3px 3px;
    border: 1px solid #666;
    border-top: none;
    animation: slidein .5s;
	.theme-container {
		position: relative;
		width: 200px;
		height: 200px;
		margin-right: 20px;
		margin-bottom: 20px;
		float: left;
		cursor: pointer;
		.side {
			-ms-transform: scale(0.33, 0.33);
			transform: scale3d(0.33, 0.33, 1);
			left: 0;
		    top: 0;
		    transform-origin: 0 0;
		    -ms-transform-origin: 0 0;
		    margin-bottom: 0;
		    .side-inner {
		    	position: relative;
		    	&:before {
		    		@include transition(opacity);
			    	content: '';
			    	display: block;
			    	position: absolute;
			    	top: 0;
			    	left: 0;
			    	right: 0;
			    	bottom: 0;
			    	opacity: 0;
			    	background: #000;
			    	z-index: 100;
			    }
			}
		    .face {
		    	pointer-events: none;
		    	> * {
		    		pointer-events: none;
		    	}
		    }
		}
		&:hover .side-inner:before {
    		opacity: 0.2;
    	}
    	.theme-name {
    		position: absolute;
    		bottom: 10px;
    		text-align: center;
    		width: 100%;
    	}
	}
}

