@import 'mixins';
@import 'variables';

.options-toolbar {
	@include nohighlight();
	@include transition(all);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	z-index: 503;
	background: $darkest-grey;
	color: $light-grey;
	transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	text-align: left;
	//overflow: hidden;
	&.options-toolbar_hidden {
		transform: translate(0, -50px);
		-ms-transform: translate(0, -50px);
	}
	&.disabled {
		cursor: pointer;
		.toolbar-button-container {
			background-color: transparent !important;
			pointer-events: none;
		}
		.toolbar-button {
			border-color: $dark-grey !important;
			color: $dark-grey !important;
			pointer-events: none;
		}
	}
	.toolbar-buttons {
		text-align: left;
		display: inline-block;
	}
	.toolbar-button-container {
		@include transition(background);
		height: 50px;
		line-height: 50px;
		cursor: pointer;
		display: inline-block;
		float: left;

		&:hover {
			background: $blue;
			.toolbar-button_small {
				border-color: transparent;
			}
		}
		&.toolbar-button-container_active {
			background: $blue !important;
			.toolbar-button_small {
				border-color: transparent !important;
				color: $lightest-grey !important;
			}
			.fa:before {
				content: "\f077" !important;
			}
		}
		&.disabled {
			color: $dark-grey;
			cursor: auto;
			&:hover {
				background: transparent;
				.toolbar-button_small {
					border-color: $dark-grey;
					cursor: auto;
				}
			}
		}
	}
	.toolbar-button {
		@include transition(all);
		font-family: PFDin Regular, Arial;
		text-align: center;
		cursor: pointer;
		position: relative;
		font-size: 16px;
		display: inline-block;
		padding: 1px 16px;
		min-width: 23px;
		height: 30px;
	    line-height: 30px;
	    border-right: 1px solid $dark-grey;
	    text-align: left;
	    float: left;
	    .fa {
    		position: absolute;
    		top: 10px;
    		right: 10px;
    		font-size: 10px;
    		:before {
    			content: "\f078";
    		}
    	}
	    &.toolbar-button_small {
	    	margin: 10px 0;
	    	&.toolbar-button_padright {
	    		padding-right: 40px;
	    	}
		}
		&.active {
			background: $light-blue;
			border-color: transparent;
		}
	    &.toolbar-button_large, &.toolbar-button_largest {
	    	height: 50px;
	    	line-height: 50px;
	    	min-width: 150px;
	    	padding-right: 75px;
	    	&:hover {
				color: $grey;
				background: transparent;
			}
	    }
	    &.toolbar-button_active {
			background: $blue !important;
			border-color: transparent !important;
			color: $lightest-grey !important;
			.fa:before {
				content: "\f077" !important;
			}
		}
	    &.toolbar-button_largest {
	    	padding: 0 12px;
	    	min-width: 170px;
	    	.fa {
	    		top: 19px;
	    	}
	    }
	    &.toolbar-button_right {
	    	float: right;
	    	border-right: none;
	    	border-left: 1px solid $dark-grey;
	    	padding-left: 25px;
	    }
	    .save-spinner {
	    	display: inline-block;
	    	background-repeat: no-repeat;
	    	background-position: 50% 100%;
	    	width: 24px;
	    	height: 25px;
	    	background-image: url('/canvas/images/saving.gif');
	    }
	}
	.menu {
		position: fixed;
		top: 50px;
	    left: 0;
	    width: 169px;
	    background: $darkest-grey;
		color: $light-grey;
		border: 1px solid $dark-grey;
		border-left: none;
		font-family: PFDin Regular, Arial;
		display: none;
		&.menu_visible {
			display: block;
		}
	    .menu-item {
	    	@include transition(background);
	    	cursor: pointer;
	    	display: block;
	    	padding: 15px 10px;
	    	&:hover {
	    		background: $blue;
	    	}
	    }
	}
}

