@import 'mixins';
@import 'variables';

.tools {
	@include nohighlight();
	font-family: PFDin Regular, Arial;
	position: absolute;
	background: #fff;
	min-width: 262px;
	min-height: 160px;
	display: none;
	pointer-events: none;
	//transition: opacity .25s ease-out;
	z-index: 109;
	margin: 0 10px;
	padding: 10px 0;
	border: 1px solid rgba(0, 0, 0, 0.09);
	color: $dark-grey;
	@include shadow(1px, 3px, 0, rgba(0, 0, 0, 0.17));
	&.tools_visible {
		display: block;
		pointer-events: all;
	}
	.tools-row {
		text-align: left;
		padding: 4px 20px;
		min-height: 45px;
		.tools-left {
			width: 55px;
			height: 35px;
			float: left;
		}
		.tools-right {
			width: 160px;
			height: 35px;
			float: right;
		}
		label {
			font-size: 14px;
		    line-height: 35px;
		}
	}
	.tools-group {
		margin-right: 5px;
		display: inline-block;
		&:last-child {
			margin: 0;
		}
		&.tools-group_right {
			float: right;
		}
	}
	.tools-input {
		width: 100%;
		padding: 7px 9px;
		line-height: 19px;
		border: 1px solid $grey;
		box-sizing: border-box;
	}
	.tools-button {
		transition: all .25s ease-out;
	    padding: 7px 9px;
	    min-width: 35px;
	    display: inline-block;
	    text-align: center;
	    font-weight: 200;
	    cursor: pointer;
	    font-size: 15px;
	    line-height: 19px;
	    height: 35px;
	    overflow: hidden;
	    float: left;
	    border: 1px solid $grey;
	    border-left: none;
	    @include shadow(0px, 2px, 0, $lightish-grey);
	    &:first-child {
	    	border-left: 1px solid $grey;
	    	border-top-left-radius: 2px;
	    	border-bottom-left-radius: 2px;
	    }
	    &:last-child {
	    	border-top-right-radius: 2px;
	    	border-bottom-right-radius: 2px;
	    }
	    &.tools-button_border {
	    	border: 1px solid $grey;
	    	@include borderradius(2px);
	    }
	    &.active {
			background: #C4CFF7;
			color: #00024A;
		}
		&.tools-button-wide {
			min-width: 100px;
		}
		&.tools-button-full {
			width: 100%;
		}
		&.tools-button-cancel {
			padding: 12px 0 0 0;
			border-color: transparent;
			color: $red;
			@include shadow(0, 0, 0, transparent);
			&.tools-button-cancel_right {
				float: right;
			}
		}
		.fa-arrows {
			line-height: 19px;
			transform: rotate(45deg);
			-ms-transform: rotate(45deg);
		}
	}
	.tools-label {
		font-family: Chevin Bold, Arial;
		text-align: left;
		margin: 10px 20px;
		color: $dark-grey;
		font-size: 14px;
	}
	.tools-image_own_old_ie {
		display: none;
	}
	.tools-image-spacer {
		display: table-cell;
		height: 115px;
		width: 15px;
		&.tools-image-spacer_border {
			border-right: 1px solid $light-grey;
		}
	}
	.tools-slider-container {
		float: left;
		width: 180px;
	}
	.tools-size-reset {
		@include transition(color);
		float: left;
	    width: 30px;
	    height: 30px;
	    margin-left: 10px;
	    font-size: 22px;
	    line-height: 30px;
	    text-align: center;
	    cursor: pointer;
	    &:hover {
	    	color: $blue;
	    }
	}
	&.background-tools {
		position: fixed;
		min-height: 60px;
		margin-top: -20px;
	}
}

.dropdown:after {
	content: '';
	display: block;
	position: absolute;
	right: 35px;
	top: 0;
	bottom: 0;
	border-right: 1px solid $grey;
}
.tools-dropdown {
	position: relative;
	background: #FFF;
    border: 1px solid $grey;
    display: inline-block;
    text-align: left;
    color: $dark-grey;
    font-weight: 200;
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    padding-left: 10px;
    padding-right: 45px;
    line-height: 35px;
    min-width: 70px;
    &.tools-dropdown_full {
    	width: 100%;
    }
    &:after {
    	//transition: all .25s ease-out;
    	content: '^';
    	position: absolute;
    	right: 13px;
	    top: -5px;
	    -ms-transform: rotate(180deg);
	    transform: rotate(180deg);
	    font-size: 20px;
    	color: $dark-grey;
    }
}
.dropdown.dropdown_active .tools-dropdown:after {
	top: 4px;
	transform: scaleY(-1) rotate(180deg);
	-ms-transform: scaleY(-1) rotate(180deg);
}
.dropdown-options {
	z-index: 1;
	color: $dark-grey;
}

.colour-dropdown .dropdown-options_active {
	min-height: 347px !important;
	.colour-dropdown-info {
		position: absolute; 
		bottom: 15px; 
		left: 20px;
		right: 20px;
		height:	130px;
		.dropdown-options-button {
			position: absolute;
			bottom: 0;
			@include borderradius(0);
		}
	}
	.colour-swatch {
		display: inline-block;
		width: 40px;
		height: 40px;
		border: 1px solid $grey;
	}
	input {
		width: 160px;
		height: 40px;
		color: $dark-grey;
	    padding: 10px;
	    float: right;
	    border: 1px solid $grey;
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	}
}

.sp-container {
	position: absolute;
    top: 10px !important;
    left: 10px !important;
    border: none !important;
    background: #fff !important;
    .sp-picker-container {
    	width: 201px;
    }
    .sp-button-container {
    	display: none;
    }
    .sp-color, .sp-hue {
    	border: none;
    }
    .sp-slider {
    	border: 1px solid $grey;
	    background: #FFFFFF;
	    opacity: 1;
	    margin-top: 1px;
	    margin-left: -2px;
	    margin-right: -2px;
    }
    .sp-dragger {
    	border: 1px solid $dark-grey;
    	background: #fff;
    	height: 7px;
    	width: 7px;
    }
}