@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.Login>
@{
    Layout = "~/Views/Master.cshtml";
}

<div class="content">
    <h1>@Model.Name</h1>
    @Umbraco.RenderMacro("Breadcrumbs")
    <div class="login">
        @Html.Action("ShowLoginForm", "LoginSurface", new {model = Model})
    </div>
</div>
