@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.Login>
@{
    Layout = "~/Views/Master.cshtml";
}

<!-- ko stopBinding: true -->
<div id="login" class="login constrain">
    @* @Umbraco.RenderMacro("Breadcrumbs") *@
    <h1 class="heading01">Log in to Mail Shots Online</h1>
    <div class="login-form content-box">
        @Html.Action("ShowLoginForm", "LoginSurface", new {model = Model})
    </div>
</div>
<!-- /ko -->
