<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Lists</Name>
    <Alias>Lists</Alias>
    <Icon>icon-ordered-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Basepage</Master>
    <Compositions>
      <Composition>Basepage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Lists</Template>
      <Template>ListsEmpty</Template>
    </AllowedTemplates>
    <DefaultTemplate>Lists</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>ListDetail</DocumentType>
    <DocumentType>ListCreate</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Intro Text</Name>
      <Alias>IntroText</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>No Lists Copy</Name>
      <Alias>noListsCopy</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Create First Button Text</Name>
      <Alias>createFirstButtonText</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Buttons and labels</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Add New Button Text</Name>
      <Alias>addNewButtonText</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Buttons and labels</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Create Page</Name>
      <Alias>createPage</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>80e6f075-317d-4f36-977a-0ae1bae89fb3</Definition>
      <Tab>Navigation</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Back Page</Name>
      <Alias>backPage</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>80e6f075-317d-4f36-977a-0ae1bae89fb3</Definition>
      <Tab>Navigation</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Back text</Name>
      <Alias>backText</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Navigation</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>93</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>96</Id>
      <Caption>Buttons and labels</Caption>
      <SortOrder>1</SortOrder>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Id>108</Id>
      <Caption>Navigation</Caption>
      <SortOrder>10</SortOrder>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>