<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Lists</Name>
    <Alias>Lists</Alias>
    <Icon>icon-ordered-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Basepage</Master>
    <Compositions>
      <Composition>Basepage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Lists</Template>
      <Template>ListsEmpty</Template>
    </AllowedTemplates>
    <DefaultTemplate>Lists</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>ListDetail</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>