<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>List Detail</Name>
    <Alias>ListDetail</Alias>
    <Icon>icon-umb-members</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Basepage</Master>
    <Compositions>
      <Composition>Basepage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>ListDetail</Template>
      <Template>ListDetailDownload</Template>
      <Template>ListDetailEmpty</Template>
      <Template>ListDetailDownload</Template>
    </AllowedTemplates>
    <DefaultTemplate>ListDetail</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>