<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<MediaType>
  <Info>
    <Name>Private Library Image</Name>
    <Alias>PrivateLibraryImage</Alias>
    <Icon>icon-picture</Icon>
    <Thumbnail>icon-folder</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Image</Master>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Username</Name>
      <Alias>username</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>User details</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>64</Id>
      <Caption>User details</Caption>
      <Sort>0</Sort>
    </Tab>
  </Tabs>
</MediaType>