<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<MediaType>
  <Info>
    <Name>Private Library Image</Name>
    <Alias>PrivateLibraryImage</Alias>
    <Icon>icon-umb-media</Icon>
    <Thumbnail>icon-folder</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Image</Master>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Username</Name>
      <Alias>username</Alias>
      <Type>7a2d436c-34c2-410f-898f-4a23b3d79f54</Type>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Tab>User details</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Original URL</Name>
      <Alias>originalUrl</Alias>
      <Type>524d2e48-432e-5072-6976-617465496d61</Type>
      <Definition>5fcd99ff-58b1-4418-9f83-eecc18038f8b</Definition>
      <Tab>Blob storage details</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Original Blob ID</Name>
      <Alias>originalBlobId</Alias>
      <Type>7a2d436c-34c2-410f-898f-4a23b3d79f54</Type>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Tab>Blob storage details</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Small Thumb URL</Name>
      <Alias>smallThumbUrl</Alias>
      <Type>7a2d436c-34c2-410f-898f-4a23b3d79f54</Type>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Tab>Blob storage details</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Small Thumb Blob ID</Name>
      <Alias>smallThumbBlobId</Alias>
      <Type>7a2d436c-34c2-410f-898f-4a23b3d79f54</Type>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Tab>Blob storage details</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Large Thumb URL</Name>
      <Alias>largeThumbUrl</Alias>
      <Type>7a2d436c-34c2-410f-898f-4a23b3d79f54</Type>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Tab>Blob storage details</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Large Thumb Blob ID</Name>
      <Alias>largeThumbBlobId</Alias>
      <Type>7a2d436c-34c2-410f-898f-4a23b3d79f54</Type>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Tab>Blob storage details</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>64</Id>
      <Caption>User details</Caption>
      <Sort>0</Sort>
    </Tab>
    <Tab>
      <Id>67</Id>
      <Caption>Blob storage details</Caption>
      <Sort>3</Sort>
    </Tab>
  </Tabs>
</MediaType>