<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Theme Folder</Name>
    <Alias>ThemeFolder</Alias>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Theme</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>