@import url(https://fonts.googleapis.com/css?family=Dosis:300,600,500);
@import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);
@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@font-face {
  font-family: Chevin Bold;
  src: local("Chevin Bold"), local("Chevin-Bold"), url(/canvas/fonts/chevin-bold.ttf); }

@font-face {
  font-family: Chevin Medium;
  src: local("Chevin Medium"), local("Chevin-Medium"), url(/canvas/fonts/chevinmedium.ttf);
  font-weight: bold; }

@font-face {
  font-family: Chevin Light;
  src: local("Chevin Light"), local("Chevin-Light"), url(/canvas/fonts/chevinlight.ttf); }

@font-face {
  font-family: PFDin Bold;
  src: local("PFDin Bold"), local("PFDin-Bold"), url(/canvas/fonts/PFDin-Bold.otf); }

@font-face {
  font-family: PFDin Italic;
  src: local("PFDin Italic"), local("PFDin-Italic"), url(/canvas/fonts/PFDin-Italic.otf); }

@font-face {
  font-family: PFDin Regular;
  src: local("PFDin Regular"), local("PFDin-Regular"), url(/canvas/fonts/PFDin-Regular.otf); }

.options-toolbar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 4;
  background: #414045;
  color: #EFEFEF;
  transform: translate(0, -25px);
  text-align: left; }
  .options-toolbar.options-toolbar_visible {
    transform: translate(0, 0); }
  .options-toolbar .toolbar-buttons {
    text-align: left;
    display: inline-block; }
  .options-toolbar .toolbar-button-container {
    transition: background 0.25s ease-in-out;
    -moz-transition: background 0.25s ease-in-out;
    -webkit-transition: background 0.25s ease-in-out;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    display: inline-block;
    float: left; }
    .options-toolbar .toolbar-button-container:hover {
      background: #2DB2FC; }
      .options-toolbar .toolbar-button-container:hover .toolbar-button_small {
        border-color: transparent; }
    .options-toolbar .toolbar-button-container.disabled {
      color: #5E6166;
      cursor: auto; }
      .options-toolbar .toolbar-button-container.disabled:hover {
        background: transparent; }
        .options-toolbar .toolbar-button-container.disabled:hover .toolbar-button_small {
          border-color: #5E6166;
          cursor: auto; }
  .options-toolbar .toolbar-button {
    font-family: PFDin Regular;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    display: inline-block;
    padding: 1px 16px;
    min-width: 23px;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid #5E6166;
    text-align: left;
    float: left; }
    .options-toolbar .toolbar-button.toolbar-button_small {
      margin: 10px 0; }
    .options-toolbar .toolbar-button.active {
      background: #2DB2FC;
      border-color: transparent; }
    .options-toolbar .toolbar-button.toolbar-button_large, .options-toolbar .toolbar-button.toolbar-button_largest {
      transition: color 0.25s ease-in-out;
      -moz-transition: color 0.25s ease-in-out;
      -webkit-transition: color 0.25s ease-in-out;
      height: 50px;
      line-height: 50px;
      min-width: 150px;
      padding-right: 50px; }
      .options-toolbar .toolbar-button.toolbar-button_large:hover, .options-toolbar .toolbar-button.toolbar-button_largest:hover {
        color: #C1C6C9;
        background: transparent; }
    .options-toolbar .toolbar-button.toolbar-button_largest {
      min-width: 220px; }
    .options-toolbar .toolbar-button.toolbar-button_right {
      float: right;
      border-right: none;
      border-left: 1px solid #5E6166; }
    .options-toolbar .toolbar-button.toolbar-button_green {
      background: #5EA83D;
      border: none; }

/*# sourceMappingURL=toolbar.css.map */