<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Lists</Name>
  <Alias>Lists</Alias>
  <Design><![CDATA[@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.Lists>
@{
    Layout = "Master.cshtml";
}

<div class="lists">
	<div class="title-bar">
		<div class="constrain">
			<a href="" class="back">Back to campaign</a>
			<h1>Add data to your campaign</h1>
		</div>
	</div>

	<div class="constrain">
		<section class="lists__my-lists">
			<h4 class="strong">My lists (42)</h4>
			<div class="content-box"></div>
		</section>
	    
	    <section class="lists_rent-list">
	    	<h4 class="strong">Rented List</h4>
	    	<div class="content-box"></div>
	    </section>
	</div>
</div>]]></Design>
</Template>