<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Lists</Name>
  <Alias>Lists</Alias>
  <Design><![CDATA[@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.Lists>
@{
    Layout = "Master.cshtml";
}

<lists-component></lists-component>]]></Design>
</Template>