@inherits Umbraco.Web.Mvc.UmbracoViewPage<RM.MailshotsOnline.Entities.PageModels.Register>
@{
    Layout = "~/Views/Master.cshtml";
}

<div class="content">
    <div class="constrain">  
        <h1 class="heading01">@Model.Name</h1>
    </div>
    @* @Umbraco.RenderMacro("Breadcrumbs") *@

    <!-- ko stopBinding: true -->
    <div class="register">
        <div class="constrain">
            @Html.Action("ShowRegisterForm", "RegisterSurface", new { model = Model})

            <div class="register__sidebar">
                <h2 class="callout">Why Register?</h2>
                <div class="register__infobox">
                    <p>Register with Royal Mail Mailshots Online and you'll be able to:</p>

                    <ul class="list">
                        <li>Create effective direct mail campaigns</li>
                        <li>Save designs, images and customer lists to your account</li>
                        <li>Send campaigns to print</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
