@inherits Umbraco.Web.Mvc.UmbracoViewPage<RM.MailshotsOnline.Entities.PageModels.Register>
@{
    Layout = "~/Views/Master.cshtml";
}

<div class="content">
    <h1>@Model.Name</h1>
    @Umbraco.RenderMacro("Breadcrumbs")
    <div class="login">
        @Html.Action("ShowRegisterForm", "RegisterSurface", new { model = Model })
    </div>
</div>
