input[type="text"],
input[type="textarea"],
input[type="email"],
input[type="password"] {
	@include font-size(18);
	border: 1px solid $form-field;
	box-sizing: border-box;
	color: $text-grey;
	font-family: $DINRegular;
	padding: 10px 15px;
	text-align: left;
}

input {
	&:focus::-webkit-input-placeholder {
		color: transparent;
	}

	&:focus::-moz-placeholder {
		color: transparent;
	}
}

:-ms-input-placeholder {
  color: $text-grey;
}
::-moz-placeholder {
  color: $text-grey;
}
::-webkit-input-placeholder {
  color: $text-grey;
}

::placeholder {
  color: $text-grey;
}

// search bar
.search-grp {
	.search {
		@include font-size(16);
		height: 50px;
		margin-bottom: 0;
		width: 260px;

		&:focus {
			outline: none;
		}
	}

	.search-submit {
		background-color: $white;
		box-sizing: border-box;
		border: 1px solid $form-field;
		border-left: none;
		height: 50px;
		margin-bottom: 0;
		padding: 12px 14px 10px;
		width: 50px;

		.icon-search {
			@include font-size(22);
			color: $text-grey;
		}
	}
}


select {
	box-sizing: border-box;
	height: 40px;
}

// button dropdowns

.btn-dropdown {
	display: inline-block;
	position: relative;

	.btn.toggle {
		position: relative;

		span {
			left: 0;
			position: relative;
			top: 0;
		}
	}

	.dropdown-list {
		background-color: $white;
		border: 1px solid $btn-border;
		box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.07);
		display: none;
		min-width: 345px;
		position: absolute;
		right: 0;
		top: 100%;
		z-index: 3;
	}

	&.open {
		.btn.toggle {
			border-bottom: none;
			box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.07);
			height: 55px;
			position: relative;
			transition: none;

			&:after {
				background-color: $white;
				bottom: -3px;
				content: ' ';
				height: 3px;
				left: 0;
				position: absolute;
				width: 100%;
				z-index: 4;
			}

			&:hover {
				background-color: $white;
				color: $text-grey;
			}

			span {
				top: -5px;
			}
		}

		.dropdown-list {
			display: block;
		}
	}
}

// select2 overrides

.select2-search--dropdown {
    display: none;
}

.select2-container--default .select2-selection--single {
    background-color: $white;
    border: 1px solid $form-field;
    border-radius: 0;
}

.select2-container--default .select2-selection--single {
	height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	border-left: 1px solid $form-field;
	box-sizing: border-box;
	height: 39px;
	width: 40px;

	b {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAJCAMAAAASPWyzAAAAb1BMVEVERET///9ERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERER81ndHAAAAJHRSTlMAAA0PFB8hJCk4Ojw+QEtVWVpdXmdoanV4eoOUl8Hc4+Tv+fqswOFgAAAAg0lEQVR42j3ORRYDUQhEUdLu7i5v/2tMn/DTNaHgTpC0FBO79D9PdMksnSuV4YXx5eKe9dhC9isTR/TnBBjUYwif0bM7YjiAbqNRz7k8qTldMeye1OJd5OoNWweBGHZ2+qeHEKsPQCKGo4NJn4dWfb4L+fPIIpqKVYuVyct+aYtJmX4BWAwJzQXMqMcAAAAASUVORK5CYII=);
		background-position: 1px center;
		background-repeat: no-repeat;
		border: none;
		display: block;
		height: 100%;
		margin: 0 auto;
		position: static;
		width: 15px;
	}
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	background-position: -17px center;
}

// custom checkboxes

.custom-checkbox {
	background-color: $white;
	border: 1px solid $form-field;
	display: inline-block;
	height: 40px;
	margin-right: 5px;
	position: relative;
	width: 40px;
	cursor: pointer;

	&:before {
		@include font-size(32);
		display: none;
		left: 5%;
		position: absolute;
		top: 13%;
		width: 90%;
	}

	&.checked:before {
		display: block;
	}
}

.custom-checkbox-round {
	background-color: $form-field;
	border-radius: 50%;
	display: inline-block;
	height: 27px;
	outline: none;
	position: relative;
	vertical-align: top;
	width: 27px;
	cursor: pointer;

	&.checked {
		background-color: $white;
	}

	&:before {
		@include font-size(28);
		color: $RM-blue;
		display: none;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&.checked:before {
		display: block;
	}
}

.checkbox-label {
	@include font-size(14);
	display: inline-block;
	line-height: 40px;
	margin-right: 18px;
	vertical-align: top;

	&:last-child {
		margin-right: 0;
	}
}

// validation

.validation-msg {
	background-color: $text-grey;
	bottom: calc(100% + 8px);
	color: $white;
	left: 100%;
	padding: 7px 15px 7px 15px;
	position: absolute;
    width: 200px;
    top: 5px;
    display: table;


	&:after {
		border-top: 8px solid transparent;
	    border-left: 0;
	    border-right: 6px solid $text-grey;
	    border-bottom: 6px solid transparent;
		content: ' ';
		left: -5px;
		position: absolute;
    	top: 10px;
	}
}

.validation-msg--bottom {
	background-color: $text-grey;
	bottom: calc(100% + 8px);
	color: $white;
	left: 40%;
	padding: 7px 15px 7px 15px;
	position: absolute;
	&:after {
		border-top: 8px solid $text-grey;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	    border-bottom: 0;
		content: ' ';
		left: 15px;
		position: absolute;
		bottom: -8px;
	}
}

.validation-msg--warn {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAXCAMAAADJPRQhAAABHVBMVEX92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iT92iQAAFgEEVQNGVIOGVISHFETHVEUHVEXIFAZIk8bI08xNktDREhYVURaVkRpYkBxaD9zaj96bz16cD1/dDx/dTuHezqIezuIfDuKfTqPgTqQgjqThDiUhjmmlDS0nzLRti3dwCrwzifx0Sb43yP82ST91yX92CX92ST92iT+2yT+3CP+3SP+4CL/2yT/3CP/3CT/3SP/3iP/3yP/4CL/4SL/4SP/4iL/5CL/5iH/5yH/6CD/6SD/6iD/7SD/7h//7x//8R//8x7/9R1UNgS9AAAAHHRSTlMACxAUJSY0QE5faW94jJakpbbBxM7T2ubn6O/7Gzcj8QAAAPtJREFUeAFtyedC2lAAgNGwNy2DFsE9UFHcQ5R9PwGVASYRB/D+j6G5QUTI+XuUGYF/AcWSHbBbThgIW4ULg8tiIhgii+Gm1v3o1nAvTFw0K3eVpojPh5fGy9n6+aCBd26S9Fr723tPPZZ+hx866uHOwXMH/LNhS0Fby23ltDakbDMTAh5fTzaOBy0g9BOONHD/frF6+vYApB3T+YNhdLVyOcLw9zucSOOb5esxknMyMSStcFTQkGJmeJCEGI6HQiB55CSQ6np+N6/XkRJG+DDpxcxmpqhj8n3Nf0z9cnYtW+5jSipKkAmhlm5LqmAiqDBVVUdqlSklirXoJ3WnUE9OhskqAAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 15px;
}

// Form layout
.form-row {
	padding: 0 50px;
	margin-bottom: 20px;
	display: table;
	box-sizing: border-box;
	position: relative;
    min-height: 40px;

	label {
	    text-align: right;
	    min-width: 150px;
	    width: 150px;
	    display: table-cell;
	    vertical-align: middle;
	}
	.input-wrapper {
		margin-left: 20px;
		min-width: 320px;
	}
	.required-field {
		margin-left: 170px; 
	}

	.required-field {
	    margin-top: 15px;
	    margin-bottom: 15px;
	}

	.select2,
	select,
	input[type="text"],
	input[type="textarea"],
	input[type="email"],
	input[type="password"] {
		width: 100%;
	}

	.select2,
	select {
		width: 152px;
		min-width: 0;
	}

	.g-recaptcha {
		margin-left: 170px;
	}
}
.form-row--align-right {
	width: 100%;
	text-align: right;
	padding-left: 0;
	padding-right: 0;

	label {
		min-width: 0;
		width: auto;
		text-align: auto;
	}
}
.form-row--align-left {
	width: 100%;
	text-align: left;
	padding-left: 0;
	padding-right: 0;

	label {
		min-width: 0;
		width: auto;
		text-align: auto;
		text-align: left;
	}

	.input-wrapper {
		margin-left: 0;
	}
}
.validation-messages {
	display: none;
}
