@font-face {
	font-family: 'icomoon';
	src:url('../src/fonts/icons/icomoon.eot?-57m0q6');
	src:url('../src/fonts/icons/icomoon.eot?#iefix-57m0q6') format('embedded-opentype'),
		url('../src/fonts/icons/icomoon.ttf?-57m0q6') format('truetype'),
		url('../src/fonts/icons/icomoon.woff?-57m0q6') format('woff'),
		url('../src/fonts/icons/icomoon.svg?-57m0q6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrows .path1:before {
	content: "\e60f";
	color: rgb(194, 198, 201);
}
.icon-arrows .path2:before {
	content: "\e61a";
	margin-left: -1em;
	color: rgb(83, 84, 91);
}

.icon-filter {
	cursor: pointer;
}

.icon-filter:before {
	content: "\e61b";
}
.icon-pagination-arrow:before {
	content: "\e617";
}
.icon-warning-tri .path1:before {
	content: "\e618";
	color: #fcbf09;
}
.icon-warning-tri .path2:before {
	content: "\e619";
	margin-left: -1em;
	color: #484848;
}
.icon-question .path1:before {
	content: "\e60d";
	color: #0492cc;
}
.icon-question .path2:before {
	content: "\e60e";
	margin-left: -1em;
	color: #ffffff;
}
.icon-go-arrow:before {
	content: "\e616";
}
.icon-message:before {
	content: "\e60c";
}
.icon-close .path1:before {
	content: "\e610";
	color: #db3232;
}
.icon-close .path2:before {
	content: "\e611";
	margin-left: -1em;
	color: #ffffff;
}
.icon-close .path3:before {
	content: "\e612";
	margin-left: -1em;
	color: #ffffff;
}

.icon-edit {
	cursor: pointer;
}

.icon-edit .path1:before {
	content: "\e613";
	color: #717579;
}
.icon-edit .path2:before {
	content: "\e614";
	margin-left: -1em;
	color: #ffffff;
}
.icon-edit .path3:before {
	content: "\e615";
	margin-left: -1em;
	color: #ffffff;
}
.icon-search:before {
	content: "\e607";
}
.icon-settings:before {
	content: "\e608";
}
.icon-refresh:before {
	content: "\e609";
}
.icon-invoice-off:before {
	content: "\e60a";
}
.icon-invoice-on:before {
	content: "\e60b";
}
.icon-cancel .path1:before {
	content: "\e600";
	color: rgb(218, 32, 43);
}
.icon-cancel .path2:before {
	content: "\e601";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-grey-tick:before {
	content: "\e602";
}
.icon-link:before {
	content: "\e603";
}
.icon-loading .path1:before {
	content: "\e604";
	color: rgb(107, 190, 224);
}
.icon-loading .path2:before {
	content: "\e605";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-tick:before {
	content: "\e606";
}