@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icons/icomoon.eot?cvnk6j');
	src:url('../fonts/icons/icomoon.eot?#iefixcvnk6j') format('embedded-opentype'),
		url('../fonts/icons/icomoon.ttf?cvnk6j') format('truetype'),
		url('../fonts/icons/icomoon.woff?cvnk6j') format('woff'),
		url('../fonts/icons/icomoon.svg?cvnk6j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Next:before {
	content: "\e600";
}
.icon-Previous:before {
	content: "\e601";
}
.icon-Edit:before {
	content: "\e602";
}
.icon-Preview:before {
	content: "\e603";
}
.icon-Delete:before {
	content: "\e604";
}
.icon-Copy:before {
	content: "\e605";
}
.icon-Download:before {
	content: "\e606";
}
.icon-Upload:before {
	content: "\e607";
}
.icon-Close:before {
	content: "\e608";
}
.icon-Add:before {
	content: "\e609";
}
.icon-Redo:before {
	content: "\e60a";
}
.icon-Undo:before {
	content: "\e60b";
}
.icon-Save:before {
	content: "\e60c";
}
.icon-Tick:before {
	content: "\e60d";
}
.icon-Edit2:before {
	content: "\e60e";
}
.icon-DownArrow:before {
	content: "\e60f";
}
.icon-ChevronDown:before {
	content: "\e610";
}
.icon-Profile:before {
	content: "\e611";
}
.icon-Edit3:before {
	content: "\e612";
}
.icon-Contacts:before {
	content: "\e613";
}
.icon-Mail:before {
	content: "\e614";
}
.icon-Info:before {
	content: "\e615";
}
.icon-Refresh:before {
	content: "\e616";
}
.icon-Alert:before {
	content: "\e617";
}
.icon-Question:before {
	content: "\e618";
}
.icon-Search:before {
	content: "\e619";
}
.icon-Person:before {
	content: "\e61a";
}
.icon-SearchPerson:before {
	content: "\e61b";
}
.icon-ImportImage:before {
	content: "\e61c";
}
.icon-ImportCSV:before {
	content: "\e61d";
}
.icon-ZoomIn:before {
	content: "\e61e";
}
.icon-ZoomOut:before {
	content: "\e61f";
}
.icon-Forward:before {
	content: "\e620";
}
.icon-Backwards:before {
	content: "\e621";
}
.icon-Bold:before {
	content: "\e622";
}
.icon-Underline:before {
	content: "\e623";
}
.icon-Italic:before {
	content: "\e624";
}
.icon-IncreaseFont:before {
	content: "\e625";
}
.icon-DecreaseFont:before {
	content: "\e626";
}
.icon-FitFont:before {
	content: "\e627";
}
.icon-LeftAlign:before {
	content: "\e628";
}
.icon-RightAlign:before {
	content: "\e629";
}
.icon-CenterAlign:before {
	content: "\e62a";
}
.icon-Justify:before {
	content: "\e62b";
}
.icon-UList:before {
	content: "\e62c";
}
.icon-OList:before {
	content: "\e62d";
}
.icon-Plus:before {
	content: "\e62e";
}
.icon-Minus:before {
	content: "\e62f";
}
.icon-Image:before {
	content: "\e630";
}
