@model RM.MailshotsOnline.Entities.PageModels.Logout

<div>
    <h1>@Model.ThankYouLabel</h1>
    <span>@Model.MainBody</span>
    @Html.ActionLink(Model.LoginCtaText, "Index", "Login")
    @Html.ActionLink(Model.HomepageCtaText, "Index", "Home")
</div>