<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>My Images</Name>
    <Alias>MyImages</Alias>
    <Icon>icon-umb-media</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Basepage</Master>
    <Compositions>
      <Composition>Basepage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>MyImages</Template>
    </AllowedTemplates>
    <DefaultTemplate>MyImages</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>