<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Page Collection</Name>
    <Alias>PageCollection</Alias>
    <Icon>icon-documents</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <AllowedTemplates>
      <Template>PageCollection</Template>
    </AllowedTemplates>
    <DefaultTemplate>PageCollection</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Basepage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Login page</Name>
      <Alias>loginPage</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>80e6f075-317d-4f36-977a-0ae1bae89fb3</Definition>
      <Tab>Navigation Pages</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Logout page</Name>
      <Alias>logoutPage</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>80e6f075-317d-4f36-977a-0ae1bae89fb3</Definition>
      <Tab>Navigation Pages</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Register page</Name>
      <Alias>registerPage</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>80e6f075-317d-4f36-977a-0ae1bae89fb3</Definition>
      <Tab>Navigation Pages</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Profile Page</Name>
      <Alias>profilePage</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>80e6f075-317d-4f36-977a-0ae1bae89fb3</Definition>
      <Tab>Navigation Pages</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>My Accounts Page</Name>
      <Alias>myAccountsPage</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>80e6f075-317d-4f36-977a-0ae1bae89fb3</Definition>
      <Tab>Navigation Pages</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Password Reset Page</Name>
      <Alias>passwordResetPage</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>80e6f075-317d-4f36-977a-0ae1bae89fb3</Definition>
      <Tab>Navigation Pages</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>My Campaigns Page</Name>
      <Alias>myCampaignsPage</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>80e6f075-317d-4f36-977a-0ae1bae89fb3</Definition>
      <Tab>Navigation Pages</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Moderation Page</Name>
      <Alias>moderationPage</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>80e6f075-317d-4f36-977a-0ae1bae89fb3</Definition>
      <Tab>Navigation Pages</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>26</Id>
      <Caption>Navigation Pages</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>