<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>My Orders</Name>
    <Alias>MyOrders</Alias>
    <Icon>icon-receipt-pound</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Basepage</Master>
    <Compositions>
      <Composition>Basepage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>MyOrders</Template>
    </AllowedTemplates>
    <DefaultTemplate>MyOrders</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>