@inherits Umbraco.Web.Macros.PartialViewMacroPage

<ul>
    @foreach (var ancestor in CurrentPage.Ancestors().Where("Visible").Reverse())
    {
        <li><a href="@ancestor.Url">@ancestor.Name</a></li>
    }
    <li>@CurrentPage.Name</li>
</ul>

