@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{ var home = CurrentPage.Site(); }

@if (home.Children.Any())
{
    <ul>
        @foreach (var child in home.Children)
        {
            if (child.DisplayInNavigation)
            {
                <li class="@(child.IsAncestorOrSelf(CurrentPage) ? "selected" : null)"><a href="@child.Url">@child.Name</a></li>
            }
        }
    </ul>
}