<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Create Canvas</Name>
    <Alias>CreateCanvas</Alias>
    <Icon>icon-palette</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions>
      <Composition>Basepage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>CreateCanvas</Template>
    </AllowedTemplates>
    <DefaultTemplate>CreateCanvas</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>