<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Register</Name>
  <Alias>Register</Alias>
  <Design><![CDATA[@inherits Umbraco.Web.Mvc.UmbracoViewPage<RM.MailshotsOnline.Entities.PageModels.Register>
@{
    Layout = "Master.cshtml";
}

<div class="content">
    <h1>@Model.Name</h1>
    @Umbraco.RenderMacro("Breadcrumbs")
    <div class="login">
        @Html.Action("ShowRegisterForm", "RegisterSurface", new { model = Model })
    </div>
</div>
]]></Design>
</Template>