<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<MediaType>
  <Info>
    <Name>Public Library Image</Name>
    <Alias>PublicLibraryImage</Alias>
    <Icon>icon-folder</Icon>
    <Thumbnail>icon-folder</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</MediaType>