@inherits Umbraco.Web.Mvc.UmbracoViewPage<RM.MailshotsOnline.Entities.PageModels.ResetPassword>

@{
    Layout = "~/Views/Master.cshtml";
}

<div class="content">
    <h1>@Model.Name</h1>
    @Umbraco.RenderMacro("Breadcrumbs")
    <div class="login">
        @foreach (ModelState modelState in ViewContext.ViewData.ModelState.Values)
            {
                foreach (ModelError error in modelState.Errors)
                {
                @Html.ValidationMessage(error.ErrorMessage)
            }
        }
        @Html.Action("ShowResetForm", "ResetPasswordSurface", new { model = Model })
    </div>
</div>
