<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>My Lists</Name>
  <Alias>MyLists</Alias>
  <Design><![CDATA[@using RM.MailshotsOnline.Web.Extensions
@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.Lists>
@{
    Layout = "Master.cshtml";

    var campaignId = Model.Campaign == null ? null : Model.Campaign.CampaignId.ToString();
}

<script>
    var createUrl = "@Model.CreatePage.Url()",
		backUrl = "@Model.BackPage.Url()",
		backText = "@Model.BackText",
		campaignId = "@campaignId";
</script>

<lists-component></lists-component>]]></Design>
</Template>