<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <InstrumentationKey xdt:Transform="Replace">027009bf-b034-4092-bfbc-0e3c60cc6725</InstrumentationKey>
</ApplicationInsights>