@model RM.MailshotsOnline.Entities.ViewModels.ModerationRejectionViewModel
@if (ViewBag.ErrorMessage != null)
{
    <div>@ViewBag.ErrorMessage</div>
}

@using (Html.BeginUmbracoForm("Reject", "ModerationSurface"))
{
    @Html.ValidationSummary()
    <div>
        @Html.TextAreaFor(m => Model.FeedbackMessage, new { @cols = 90, @rows = 10 })
    </div>
    <div>
        <button class="big-button">@Model.PageModel.ConfirmButtonText</button>
    </div>
}