<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Image Library API Test Page</Name>
  <Alias>ImageLibraryAPITestPage</Alias>
  <Design><![CDATA[@using ClientDependency.Core.Mvc
@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.ContentPage>
@{
    Layout = "Master.cshtml";
    Html.RequiresJs("~/scripts/loginfunctions.js", 2);
    Html.RequiresJs("~/scripts/imagelibrarytest.js", 3);
    Html.RequiresCss("~/css/fountain.css", 2);
}

<div class="content">
    <h1>@Model.Name</h1>
    @Umbraco.RenderMacro("Breadcrumbs")
    <div class="rich-text">
        @Html.Raw(Model.MainContent)
    </div>
    <div class="image-library">
        <fieldset>
            <h2>Public images</h2>
            <div id="libraryItems">
                <div><label for="imageTag">Search by tag:</label><select id="imageTag"></select></div>

                <div id="loading">
                    <div id="fountainG">
                        <div id="fountainG_1" class="fountainG"></div>
                        <div id="fountainG_2" class="fountainG"></div>
                        <div id="fountainG_3" class="fountainG"></div>
                        <div id="fountainG_4" class="fountainG"></div>
                        <div id="fountainG_5" class="fountainG"></div>
                        <div id="fountainG_6" class="fountainG"></div>
                        <div id="fountainG_7" class="fountainG"></div>
                        <div id="fountainG_8" class="fountainG"></div>
                    </div>
                </div>
                <div class="image-viewer" style="display:none;">
                    <p style="vertical-align:top;"><img id="large-image" /> <a href="#close" id="closeLink">Close</a></p>
                    <p id="deletePara" style="display: none;"><a href="#/delete" id="deleteLink" style="color: red;">Delete image</a></p>
                    <p>Mailshot usage: <span id="mailshotUsage"></span></p>
                </div>
                
                <div id="noImages" style="display: none;">
                    <p>No images to display.</p>
                </div>
                <div class="image-grid" id="publicImageGrid" style="display: none;">

                </div>
            </div>
        </fieldset>
        <fieldset>
            <h2>Personal images</h2>
            <div id="loginForm" style="display: none;">
                <p>You must be logged in to view personal images</p>
                <div><label for="email">Email:</label><input type="email" id="email" /></div>
                <div><label for="password">Password:</label><input type="password" id="password" /></div>
                <div><button id="loginButton">Login</button></div>
            </div>
            <div id="privateLoading" style="display: none;">
                <p>Loading ...</p>
            </div>
            <div id="noPrivateImages" style="display: none;">
                <p>No images to display.</p>
            </div>
            <div class="image-grid" id="privateImageGrid" style="display: none;">

            </div>
            <div id="newImageForm" style="display: none;">
                <h3>New image</h3>
                <div><label for="imageName">Image name:</label><input type="text" id="imageName" /></div>
                <div><label for="imageBaseString">Image string:</label><textarea id="imageBaseString" cols="30" rows="3"></textarea></div>
                <div><label for="imageUpload">Upload</label><input type="file" id="imageUpload" /></div>
                <div><button id="saveImageButton">Save image</button></div>
            </div>
        </fieldset>
    </div>
</div>]]></Design>
  <Master>Master</Master>
</Template>