<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Campaign Hub</Name>
    <Alias>CampaignHub</Alias>
    <Icon>icon-file-cabinet</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Basepage</Master>
    <Compositions>
      <Composition>Basepage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>CampaignHub</Template>
    </AllowedTemplates>
    <DefaultTemplate>CampaignHub</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>My Campaigns Page</Name>
      <Alias>myCampaignsPage</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>80e6f075-317d-4f36-977a-0ae1bae89fb3</Definition>
      <Tab>Error messages</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>No Campaign Message</Name>
      <Alias>noCampaignMessage</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Error messages</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Message displayed when no campaign is displayed.]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Campaign Error Message</Name>
      <Alias>campaignErrorMessage</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Error messages</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Message displayed when the campaign specified by the URL doesn't exist or can't be found.]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>My Campaigns Page Link Text</Name>
      <Alias>myCampaignsPageLinkText</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Error messages</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA["Return to My Campaigns" link text]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Intro Text</Name>
      <Alias>introText</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Introduction</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Introduction text. {user} is replaced with the logged-in user's name.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Section title</Name>
      <Alias>dataSectionTitle</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Data</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Appear here prompt</Name>
      <Alias>dataSectionPrompt</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Data</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Get started prompt</Name>
      <Alias>dataGetStartedPrompt</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Data</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Recipients heading</Name>
      <Alias>recipientsHeading</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Data</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>List name heading</Name>
      <Alias>listNameHeading</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Data</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Your data heading</Name>
      <Alias>yourDataHeading</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Data</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Our data heading</Name>
      <Alias>ourDataHeading</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Data</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Section title</Name>
      <Alias>designSectionTitle</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Design</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Appear here prompt</Name>
      <Alias>designSectionPrompt</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Design</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Get started prompt</Name>
      <Alias>designGetStartedPrompt</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Design</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Section title</Name>
      <Alias>summarySectionTitle</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Campaign Summary</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Appear here prompt</Name>
      <Alias>summarySectionPrompt</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Campaign Summary</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Checkout button text</Name>
      <Alias>checkoutButtonText</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Campaign Summary</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Approve prompt</Name>
      <Alias>approvePrompt</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Campaign Summary</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Print and delivery heading</Name>
      <Alias>printAndDeliveryHeading</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Campaign Summary</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Should arrive by text</Name>
      <Alias>shouldArriveByText</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Campaign Summary</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Service fees heading</Name>
      <Alias>serviceFeesHeading</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Campaign Summary</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Mailshots Online Service Fee Heading</Name>
      <Alias>mailshotsOnlineServiceFeeHeading</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Campaign Summary</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Data search fee heading</Name>
      <Alias>dataSearchFeeHeading</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Campaign Summary</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Postage label</Name>
      <Alias>postageLabel</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Campaign Summary</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Tax heading</Name>
      <Alias>taxHeading</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Campaign Summary</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>VAT Label</Name>
      <Alias>vatLabel</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Campaign Summary</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Total Cost label</Name>
      <Alias>totalCostLabel</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Campaign Summary</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Approve button text</Name>
      <Alias>approveButtonText</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Buttons and labels</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Edit button text</Name>
      <Alias>editButtonText</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Buttons and labels</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Preview button text</Name>
      <Alias>previewButtonText</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Buttons and labels</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Download button text</Name>
      <Alias>downloadButtonText</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Buttons and labels</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Remove button text</Name>
      <Alias>removeButtonText</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Buttons and labels</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Approved Label</Name>
      <Alias>approvedLabel</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Buttons and labels</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Unapprove button text</Name>
      <Alias>unapproveButtonText</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Buttons and labels</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>73</Id>
      <Caption>Error messages</Caption>
      <SortOrder>6</SortOrder>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Id>74</Id>
      <Caption>Introduction</Caption>
      <SortOrder>1</SortOrder>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Id>75</Id>
      <Caption>Data</Caption>
      <SortOrder>2</SortOrder>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Id>76</Id>
      <Caption>Design</Caption>
      <SortOrder>3</SortOrder>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Id>77</Id>
      <Caption>Campaign Summary</Caption>
      <SortOrder>4</SortOrder>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Id>78</Id>
      <Caption>Buttons and labels</Caption>
      <SortOrder>5</SortOrder>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>