<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>List Create</Name>
  <Alias>ListCreate</Alias>
  <Design><![CDATA[@{
    ViewBag.Title = "ListCreate";
    Layout = "Master.cshtml";
}

<h2>ListCreate</h2>
<p>Ignore this file - go see /views/lists/create.cshtml instead.</p>]]></Design>
</Template>