<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Breadcrumbs</name>
  <alias>Breadcrumbs</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/MacroPartials/Breadcrumbs.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>False</useInEditor>
  <dontRender>True</dontRender>
  <refreshRate>300</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>True</cacheByPage>
  <properties />
</macro>