<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>HeaderNavigation</name>
  <alias>HeaderNavigation</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/MacroPartials/HeaderNavigation.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>False</useInEditor>
  <dontRender>True</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
</macro>