.register {

}
.register__form {
    width: 653px;
    float: left;
}
.register__sidebar {
    width: 320px;
    float: right;
}
.register__infobox { 
    padding: 0 20px;
    font-family: $DINRegular;
    margin-top: 10px; 
}