.register {

}
.register-stage {
    display: none;
}
.register__complete,
.register__form {
    width: 653px;
    float: left;
}
.register__sidebar {
    width: 320px;
    float: right;
}
.register__infobox { 
    padding: 0 20px;
    font-family: $DINRegular;
    margin-top: 10px; 
}

.register__complete .register-stage,
.register-stage.current-stage {
    display: block;

    // ADD Animation effects here.
}

.stage-marker {
    position: absolute;
    bottom: 30px;
    left: 30px;
}