<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Dashboard</Name>
    <Alias>Dashboard</Alias>
    <Icon>icon-speed-gauge</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Basepage</Master>
    <Compositions>
      <Composition>Basepage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Dashboard</Template>
    </AllowedTemplates>
    <DefaultTemplate>Dashboard</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>