<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Base Page</Name>
    <Alias>Basepage</Alias>
    <Icon>icon-umb-content</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Base page template</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Navigation title</Name>
      <Alias>navigationTitle</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Navigation</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Navigation title for the page (displayed in navigation and breadcrumbs)]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Display in navigation</Name>
      <Alias>displayInNavigation</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Navigation</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display this page in the site nav]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Meta keywords</Name>
      <Alias>metaKeywords</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Metadata</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Metadata keywords]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Meta description</Name>
      <Alias>metaDescription</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Metadata</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Metadata description]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Meta page title</Name>
      <Alias>metaPageTitle</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Metadata</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Document page title]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>14</Id>
      <Caption>Navigation</Caption>
      <SortOrder>1</SortOrder>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Id>15</Id>
      <Caption>Metadata</Caption>
      <SortOrder>2</SortOrder>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>