@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.CreateCanvas>
@{
    Layout = null;
}

<html>
	<head>
		<script data-main="/canvas/js/app" src="/canvas/js/vendor/requirejs/require.js"></script>
		<script src="/canvas/js/require_config.js"></script>
		<link rel="stylesheet" type="text/css" href="/canvas/styles/compiled/mailshot.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel='stylesheet' href='/canvas/js/vendor/spectrum/spectrum.css' />
	</head>
	<body>

		<editor-component></editor-component>

	</body>
</html>