@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.CreateCanvas>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>@Model.MetaPageTitle</title>
    </head>
    <body>
        <h1>@Model.NavigationTitle</h1>
    </body>
</html>