@using ClientDependency.Core.Mvc
@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.ContentPage>
@{
    Layout = "Master.cshtml";
    Html.RequiresJs("~/scripts/imagelibrarytest.js", 2);
    Html.RequiresCss("~/css/fountain.css", 2);
}

<div class="content">
    <h1>@Model.Name</h1>
    @Umbraco.RenderMacro("Breadcrumbs")
    <div class="rich-text">
        @Html.Raw(Model.MainContent)
    </div>
    <div class="image-library">
        <fieldset>
            <h2>Public images</h2>
            <div id="libraryItems">
                <div><label for="imageTag">Search by tag:</label><select id="imageTag"></select></div>

                <div id="loading">
                    <div id="fountainG">
                        <div id="fountainG_1" class="fountainG"></div>
                        <div id="fountainG_2" class="fountainG"></div>
                        <div id="fountainG_3" class="fountainG"></div>
                        <div id="fountainG_4" class="fountainG"></div>
                        <div id="fountainG_5" class="fountainG"></div>
                        <div id="fountainG_6" class="fountainG"></div>
                        <div id="fountainG_7" class="fountainG"></div>
                        <div id="fountainG_8" class="fountainG"></div>
                    </div>
                </div>
                <div class="image-viewer" style="display:none;">
                    <p style="vertical-align:top;"><img id="large-image" /> <a href="#close">Close</a></p>
                    <p>Mailshot usage: <span id="mailshotUsage"></span></p>
                </div>
                
                <div id="noImages" style="display: none;">
                    <p>No images to display.</p>
                </div>
                <div class="image-grid" id="publicImageGrid" style="display: none;">

                </div>
            </div>
        </fieldset>
    </div>
</div>