@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.ListDetail>
@{
    Layout = "Master.cshtml";
}

@section headerScripts
{
    <script type="text/javascript">
        var listId = "@Model.DistributionListId";
    </script>
}

<div class="content">
    <h1>@Model.Name</h1>
    <h2>List detail page</h2>
</div>