@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.ListDetail>
@{
    Layout = "Master.cshtml";
}

@* === Not in use === *@

<div class="content">
    <h1>@Model.Name</h1>
    <h2>Empty list detail page</h2>
</div>