@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.Lists>
@{
    Layout = "Master.cshtml";
}

<div class="lists">
	<div class="title-bar">
		<div class="constrain">
			<a href="" class="back"><span class="btn-icon icon-Previous"></span><span class="back-text">Back to campaign</span></a>
			<h1>Add data to your campaign</h1>
		</div>
	</div>

	<div class="constrain">
		<section class="lists__my-lists">
			<h4 class="strong">My lists (0)</h4>
			<div class="content-box lists__my-lists--empty">
				<h5>You don't have any customer lists yet</h5>
				<button type="button" class="btn btn--blue btn--icon-right">Create a new list<span class="btn-icon icon-Next"></span></button>
			</div>
		</section>
	    
	    <section class="lists__rent-list">
	    	<h4 class="strong">Rented List</h4>
	    	<div class="content-box lists__rent-list--empty">
	    		<div class="content">
	    			<h6>Looking for new customers?</h6>
	    			<p>We have a huge, up-to-date database of UK addresses and an easy-to-use tool to find them. And at only 5p per record - it's cost effective too.</p>
	    		</div>
	    		<button type="button" class="btn btn--blue btn--icon-right">Find new customers<span class="btn-icon icon-Next"></span></button>
	    	</div>
	    </section>
	</div>
</div>