@using ClientDependency.Core.Mvc
@using ClientDependency.Core
@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.MailshotEditor>
@{
    Layout = "Master.cshtml";

    Html.RequiresJs("~/scripts/editor.js", 2);
    Html.RequiresCss("~/css/fountain.css", 2);
}

<div class="content">
    <h1>@Model.Name</h1>
    @Umbraco.RenderMacro("Breadcrumbs")
    <div>
        <h2>Existing mailshots</h2>
        <ul id="existingMailshots">
            <li>Loading ...</li>
        </ul>
        <button id="new">New Mailshot</button>
    </div>
    <div>
        <h2>New / edit mailshot</h2>
        <form>
            <fieldset>
                <div id="loadingIndicator" style="display: none;">Loading ...</div>
                <div><label for="name">Mailshot name</label><input type="text" id="name" name="name" /></div>
                <div><label for="content">Content</label><textarea name="content" id="content" cols="120" rows="20"></textarea></div>
                <div><label>Proof PDF status</label><input id="proofStatus" name="proofStatus" disabled="disabled" /> <a id="pdfLink" style="display: none;">Download PDF</a></div>
                <div><button id="save">Save Mailshot</button></div>
                <div><input type="hidden" name="mailshotId" id="mailshotId" /></div>
                <div id="pdfLoading" style="display:none;">
                    <div id="fountainG">
                        <div id="fountainG_1" class="fountainG"></div>
                        <div id="fountainG_2" class="fountainG"></div>
                        <div id="fountainG_3" class="fountainG"></div>
                        <div id="fountainG_4" class="fountainG"></div>
                        <div id="fountainG_5" class="fountainG"></div>
                        <div id="fountainG_6" class="fountainG"></div>
                        <div id="fountainG_7" class="fountainG"></div>
                        <div id="fountainG_8" class="fountainG"></div>
                    </div>
                </div>
                <div id="pdfButtonContainer">
                    <button id="createPdf" disabled="disabled">Create PDF</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div>
        <h2>Used images</h2>
        <p>Recently used images:</p>
        <ul id="usedImages">
            <li>Loading ...</li>
        </ul>
    </div>
</div>