@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.ModerationPage>
@{
    Layout = "Master.cshtml";
}
<div class="content">
    <h1>@Model.Name</h1>
    @if(Model.DisplayApprovedMessage)
    {
        <div class="rich-text">
            @Umbraco.Field("campaignApprovedMessage")
        </div>
        <div>
            @Html.Action("ShowApprovalConfirmationButton", "ModerationSurface", new { model = Model })
        </div>
    }
    else if (Model.DisplayRejectedMessage)
    {
        <div class="rich-text">
            @Umbraco.Field("campaignRejectedMessage")
        </div>
    }
</div>