@using ClientDependency.Core.Mvc
@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.MyImages>
@{
    Layout = "Master.cshtml";
    Html.RequiresJs("~/scripts/imagelibrarytest.js", 3);
    Html.RequiresCss("~/css/fountain.css", 2);
}

<div class="content">
    <div class="constrain">
    	<my-images-component></my-images-component>
    	<notification-component></notification-component>
    </div>
</div>