@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.MyOrders>
@{
    Layout = "Master.cshtml";
}

<div class="content">
    <h1>@Model.Name</h1>
    <h2>My Accounts page</h2>
</div>