<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Campaign Hub</Name>
  <Alias>CampaignHub</Alias>
  <Design><![CDATA[@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.CampaignHub>
@using RM.MailshotsOnline.Web.Extensions
@using ClientDependency.Core.Mvc
@{
    Layout = "Master.cshtml";
    Html.RequiresJs("~/scripts/campaign-functions.js", 2);
    Html.RequiresJs("~/scripts/campaign-hub.js", 3);
}

<div class="content">
    <h1>@Model.Name</h1>
    @Umbraco.RenderMacro("Breadcrumbs")
    <div class="campaign-hub clearfix">
        @if (Model.DisplayCampaignErrorMessage)
        {
            <div class="rich-text">
                @Umbraco.Field("campaignErrorMessage")
                <p><a href="@Model.MyCampaignsPage.Url()">@Model.MyCampaignsPageLinkText</a></p>
            </div>
        }
        else if (Model.DisplayNoCampaignMessage)
        {
            <div class="rich-text">
                @Umbraco.Field("noCampaignMessage")
                <p><a href="@Model.MyCampaignsPage.Url()">@Model.MyCampaignsPageLinkText</a></p>
            </div>
        }
        else
        {
            <div class="left-column">
                <input type="hidden" id="campaignId" value="@Model.Campaign.CampaignId" />
                <h2><span id="campaignTitle">@Model.Campaign.Name</span> <input type="text" class="titleEdit" id="editTitleValue" value="@Model.Campaign.Name" style="display:none;" /><a href="#editTitle" id="editTitle">Edit</a></h2>
                <p>@Model.Campaign.GetLastEditedSummary()</p>
                @if (Model.Campaign.NeedsDataAndDesign())
                {
                    <div class="introduction">
                        @Html.Raw(Model.IntroText.Replace("{user}", Model.LoggedInMember.FirstName))
                    </div>
                }

                <div class="box left">
                    <h4>@Model.DataSectionTitle</h4>
                    @if (Model.Campaign.HasDistributionLists || Model.Campaign.HasDataSearches)
                    {
                        <p>@Model.Campaign.TotalRecipientCount recipients</p>
                        <table class="data-table">
                            <tr>
                                <th>List name</th>
                                <th>Recipients</th>
                            </tr>
                            @if (Model.Campaign.HasDistributionLists)
                            {
                                <tr>
                                    <td class="subheading" colspan="2">@Model.YourDataHeading</td>
                                </tr>
                                foreach(var list in Model.Campaign.DistributionLists)
                                {
                                    <tr>
                                        <td>@list.Name</td>
                                        <td>@list.RecordCount</td>
                                    </tr>
                                }
                            }
                            @if (Model.Campaign.HasDataSearches)
                            {
                                <tr>
                                    <td class="subheading" colspan="2">@Model.OurDataHeading</td>
                                </tr>
                                foreach (var search in Model.Campaign.DataSearches)
                                {
                                    <tr>
                                        <td>@search.Name</td>
                                        <td>@search.RecordCount</td>
                                    </tr>
                                }
                            }
                        </table>
                        if (Model.Campaign.Status == RM.MailshotsOnline.PCL.Enums.CampaignStatus.Draft || Model.Campaign.Status == RM.MailshotsOnline.PCL.Enums.CampaignStatus.ReadyToCheckout)
                        {
                            if (!Model.Campaign.DataSetsApproved)
                            {
                            <div class="buttonRow">
                                <button>@Model.EditButtonText</button>
                                <button>@Model.PreviewButtonText</button>
                                <button>@Model.DownloadButtonText</button>
                            </div>
                            <button class="big-button" id="dataApproval">@Model.ApproveButtonText</button>
                            }
                            else
                            {
                            <p class="approved"><span>@Model.ApprovedLabel</span> <a href="#unapproveData" id="unapproveData">@Model.UnapproveButtonText</a></p>
                            }
                        }
                    }
                    else
                    {
                        <p>@Model.DataSectionPrompt</p>
                        <button class="big-button">@Model.DataGetStartedPrompt</button>
                    }
                </div>

                <div class="box right">
                    <h4>@Model.DesignSectionTitle</h4>
                    @if(Model.Campaign.HasMailshotSet)
                    {
                        <p>@Model.Campaign.Mailshot.Format.Name</p>
                        <div class="preview @Model.Campaign.Mailshot.Format.Name.ToLowerInvariant().Replace(" ","")">&nbsp;</div>
                        <p class="center"><a href="#remove">@Model.RemoveButtonText</a></p>
                        if (Model.Campaign.Status == RM.MailshotsOnline.PCL.Enums.CampaignStatus.Draft || Model.Campaign.Status == RM.MailshotsOnline.PCL.Enums.CampaignStatus.ReadyToCheckout)
                        {
                            if (Model.Campaign.Mailshot.Draft)
                            {
                            <div class="buttonRow">
                                <button>@Model.EditButtonText</button>
                                <button>@Model.PreviewButtonText</button>
                                <button>@Model.DownloadButtonText</button>
                            </div>
                            <button class="big-button" id="designApproval">@Model.ApproveButtonText</button>
                            }
                            else
                            {
                            <p class="approved"><span>@Model.ApprovedLabel</span> <a href="#unapproveDesign" id="unapproveDesign">@Model.UnapproveButtonText</a></p>
                            }
                        }
                    }
                    else
                    {
                        <div>
                        @Html.Action("ShowStartDesignButton", "CampaignSurface", new { model = Model })
                        </div>
                    }
                </div>
            </div>
            <div class="right-column">
                <h3>@Model.SummarySectionTitle</h3>
                @if(Model.Campaign.HasData())
                {
                    <table class="costSummary">
                        @if (Model.Campaign.HasData())
                        {
                            <tr>
                                <th colspan="2">@Model.RecipientsHeading (@Model.Campaign.TotalRecipientCount)</th>
                            </tr>
                            if (Model.Campaign.HasDistributionLists)
                            {
                                <tr>
                                    <td>@Model.YourDataHeading (@Model.Campaign.OwnDataRecipientCount)</td>
                                    <td class="money">&pound;0.00</td>
                                </tr>
                            }
                            if (Model.Campaign.HasDataSearches)
                            {
                                <tr>
                                    <td>@Model.OurDataHeading (@Model.PriceBreakdown.DataRentalCount @@ &pound;@Model.PriceBreakdown.DataRentalRate.ToString("F"))</td>
                                    <td class="money">&pound;@Model.PriceBreakdown.DataRentalCost.ToString("F")</td>
                                </tr>
                            }
                        }
                        @if (Model.PriceBreakdown.PrintingCost.HasValue)
                        {
                            <tr>
                                <th colspan="2">@Model.PrintAndDeliveryHeading (@Model.PriceBreakdown.PrintCount)</th>
                            </tr>
                            <tr>
                                <td>@Model.Campaign.Mailshot.Format.Name (@Model.PriceBreakdown.PrintCount @@ &pound;@Model.PriceBreakdown.PrintingRate.Value.ToString("F"))</td>
                                <td class="money">&pound;@Model.PriceBreakdown.PrintingCost.Value.ToString("F")</td>
                            </tr>
                            <tr>
                                <td>
                                    @Model.PostageLabel <br />
                                    <select id="postalOptions">
                                        @foreach(var postalOption in Model.PostalOptions)
                                        {
                                            <option value="@postalOption.PostalOptionId"@if (postalOption.PostalOptionId == Model.Campaign.PostalOptionId) { <text> selected="selected"</text> }>@postalOption.Name (&pound;@postalOption.PricePerUnit.ToString("F"))</option>
                                        }
                                    </select>
                                </td>
                                <td class="money">
                                    @if (Model.PriceBreakdown.PostageCost.HasValue)
                                    {
                                        <text>&pound;@Model.PriceBreakdown.PostageCost.Value.ToString("F")</text>
}
                                </td>
                            </tr>
                        }
                        <tr>
                            <th colspan="2">@Model.ServiceFeesHeading</th>
                        </tr>
                        <tr>
                            <td>@Model.MailshotsOnlineServiceFeeHeading</td>
                            <td class="money">&pound;@Model.PriceBreakdown.ServiceFee.ToString("F")</td>
                        </tr>
                        @if (Model.Campaign.HasDataSearches)
                        {
                            <tr>
                                <td>@Model.DataSearchFeeHeading</td>
                                <td class="money">&pound;@Model.PriceBreakdown.DataRentalFlatFee.ToString("F")</td>
                            </tr>
                        }
                        <tr>
                            <th colspan="2">@Model.TaxHeading</th>
                        </tr>
                        <tr>
                            <td>@Model.VatLabel</td>
                            <td class="money">&pound;@Model.PriceBreakdown.TotalTax.ToString("F")</td>
                        </tr>
                        <tr>
                            <td class="total">@Model.TotalCostLabel</td>
                            <td class="total money">&pound;@Model.PriceBreakdown.Total.ToString("F")</td>
                        </tr>
                    </table>
                }
                else
                {
                    <p>@Model.SummarySectionPrompt</p>
                }
                
                @if(Model.Campaign.Status == RM.MailshotsOnline.PCL.Enums.CampaignStatus.ReadyToCheckout)
                {
                    @Html.Action("ShowCheckoutButton", "CampaignSurface", new { model = Model })
                }
                else if (Model.Campaign.Status == RM.MailshotsOnline.PCL.Enums.CampaignStatus.Draft)
                {
                    <p>@Model.ApprovePrompt</p>
                    <button class="big-button" disabled="disabled">@Model.CheckoutButtonText</button>
                }
            </div>
        }
    </div>
</div>]]></Design>
</Template>