<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>List Detail Empty</Name>
  <Alias>ListDetailEmpty</Alias>
  <Design><![CDATA[@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.ListDetail>
@{
    Layout = "Master.cshtml";
}

<div class="content">
    <h1>@Model.Name</h1>
    <h2>Empty list detail page</h2>
</div>]]></Design>
</Template>