<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Home</Name>
  <Alias>Home</Alias>
  <Design><![CDATA[@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.Home>
@{
    Layout = "Master.cshtml";
}

<div class="home">
    <h1>@Model.Name</h1>
    @if (Model.BannerImage != null)
    {
        <img src="@Model.BannerImage.Src" alt="@Model.BannerImage.Alt"/>
    }
    <div class="rich-text">
        @Html.Raw(Model.MainContent)
    </div>
</div>

<a href="@Umbraco.NiceUrl(Model.LoginPage.Id)">@Model.LoginPage.Name</a>]]></Design>
  <Master>Master</Master>
</Template>