<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Create Canvas</Name>
  <Alias>CreateCanvas</Alias>
  <Design><![CDATA[@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.CreateCanvas>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>@Model.MetaPageTitle</title>
    </head>
    <body>
        <h1>@Model.NavigationTitle</h1>
    </body>
</html>]]></Design>
</Template>