<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Create Canvas</Name>
  <Alias>CreateCanvas</Alias>
  <Design><![CDATA[@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.CreateCanvas>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script data-main="/canvas/js/app" src="/canvas/js/vendor/requirejs/require.js"></script>
    <script src="/canvas/js/require_config.js"></script>
    <link rel="stylesheet" type="text/css" href="/canvas/styles/compiled/mailshot.css" />
    <link rel="stylesheet" type="text/css" href="/canvas/styles/compiled/toolbar.css" />
    <link rel="stylesheet" type="text/css" href="/canvas/styles/compiled/sidepicker.css" />
    <link rel="stylesheet" type="text/css" href="/canvas/styles/compiled/canvas.css" />
    <link rel="stylesheet" type="text/css" href="/canvas/styles/compiled/themepicker.css" />
    <link rel="stylesheet" type="text/css" href="/canvas/styles/compiled/help.css" />
    <link rel="stylesheet" type="text/css" href="/canvas/styles/compiled/tools.css" />
    <link rel="stylesheet" type="text/css" href="/canvas/styles/compiled/preview.css" />
    <link rel="stylesheet" type="text/css" href="/canvas/styles/compiled/upload.css" />
    <link rel="stylesheet" type="text/css" href="/canvas/styles/compiled/layoutpicker.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/canvas/js/vendor/spectrum/spectrum.css' />
</head>
<body>

    <editor-component></editor-component>

    <!--[if IE ]>
    <script>
    document.documentElement.className+=' ieOld ieOlder';
    </script>
    <![endif]-->

</body>
</html>]]></Design>
</Template>