<div class="auth-modal-bg">
	<div class="auth-modal">
		<div class="auth-modal-header">
			Log in to Mail Shots Online
		</div>
		<div class="auth-modal-body">
			<div class="auth-modal-info">*indicates a required field</div>
			<div class="auth-modal-row">
				<label for="username">*Your email address:</label>
				<input type="email" name="username"/>
			</div>
			<div class="auth-modal-row">
				<label for="password">*Enter Password:</label>
				<input type="password" name="password"/>
			</div>
			<div class="auth-modal-info auth-modal-info_link">
				<a>Forgot password?</a>
			</div>
		</div>
		<div class="auth-modal-footer">
			<div class="auth-modal-buttons">
				<span class="button">Next</span>
			</div>
			<div class="auth-modal-info auth-modal-info_link">
				Don't have an account? <a>Register</a>
			</div>
		</div>
	</div>
</div>