<div class="unfocus-div" data-bind="click: unfocus"></div>
<nav-component></nav-component>
<options-component></options-component>
<tools-component></tools-component>
<!-- ko if: showTemplatePicker -->
	<template-component></template-component>
<!-- /ko -->
<!-- ko if: showThemePicker -->
	<theme-component></theme-component>
<!-- /ko -->
<!-- ko if: showImageUpload -->
	<upload-component></upload-component>
<!-- /ko -->
<!-- ko if: faces() && faces().length -->
	<!-- main editor -->
	<!-- ko with: viewingSide -->
	<side-component class="side" params="{side: $data}" data-bind="style: {'transform': $parent.scale}"></side-component>
		<!-- side picker -->
		<div class="side-picker">
			<!-- ko foreach: $parent.sides -->
			<div class="side-picker-inner">
				<span data-bind="text: $data"></span>
				<side-component class="side side_small" params="{side: $data, preview: true}" data-bind="click: function() { if ($parent != $data) {$parents[1].toggleSide()} }"></side-component>
			</div>
			<!-- /ko -->
		</div>
	<!-- /ko -->
	<zoom-component></zoom-component>
<!-- /ko -->
<!-- ko if: output -->
	<div data-bind="click: clearOutput" style="position: absolute; bottom: 111px; right: 20px; font-weight: bold; color: #c00; cursor: pointer; z-index: 10;">X</div>
	<textarea class="json-output" data-bind="value: output"></textarea>
<!--/ko -->