<options-component></options-component>
<!-- ko if: showTemplatePicker -->
	<template-component></template-component>
<!-- /ko -->
<!-- ko if: showThemePicker -->
	<theme-component></theme-component>
<!-- /ko -->
<!-- ko if: showImageUpload -->
	<upload-component></upload-component>
<!-- /ko -->
<!-- ko if: faces() && faces().length -->
	<!-- main editor -->

	<div class="help" data-bind="css: {'help_error': (message()) && (message().type == 'error'), 'help_visible': message}">
		<!--ko if: message() -->
			<span data-bind="text: message().message"></span>
		<!-- /ko -->
	</div>

	<!-- ko with: historyRerender -->
		<!-- ko with: $parent.viewingFace -->
			<div class="canvas-container" data-bind="click: $parents[1].unfocusConditional, css: {'canvas-container_selected': false, 'canvas-container_focused': $parents[1].elementFocused, 'canvas-container_small': $parents[1].showImageUpload}">
				<tools-component></tools-component>
				<side-component class="side side_large" params="{side: side, face: $data}" data-bind="style: {'transform': $parents[1].scale}"></side-component>
			</div>
		<!-- /ko -->

		<!-- side picker -->
		<div class="side-picker" data-bind="click: $parent.unfocus, css: {'side-picker_hidden': $parent.elementFocused}">
			<!-- ko foreach: $parent.faces -->
			<sidepicker-component params="{face: $data, unfocus: $parents[1].unfocus}"></sidepicker-component>
			<!-- /ko -->
		</div>
	<!-- /ko -->
	

	<!-- ko if: isBackgroundSelected -->
	<backgroundtools-component></backgroundtools-component>
	<!-- /ko -->
	<zoom-component data-bind="visible: !(showImageUpload())"></zoom-component>
	<!-- ko if: showPreview -->
	<preview-component></preview-component>
	<!-- /ko -->

<!-- /ko -->
<!-- ko if: output -->
	<div data-bind="click: clearOutput" style="position: absolute; bottom: 111px; right: 20px; font-weight: bold; color: #c00; cursor: pointer; z-index: 10;">X</div>
	<textarea class="json-output" data-bind="value: output"></textarea>
<!--/ko -->