<div data-bind="style: flatStyles, template: { afterRender: scale }" class="face">
    <div class="face-hover editable" data-bind="click: selectBackground, css: {'face-hover_active': backgroundSelected}"></div>
    <!-- ko if: elements().length -->
        <span style="display: none;" data-bind="template: { afterRender: scale }"></span>
    <!-- /ko -->
    <!-- ko foreach: elements -->
        <div data-bind="text: name" style="display: none;"></div>
        <!-- ko if: type == 'html' -->
        <input-component params="{data: $data, override_theme: $parent.override_theme, override_template: $parent.override_template, preview: $parent.preview}" data-bind="style: $parent.getElementLayout($data), css: {'component_selected': $parent.childSelected(name)}" class="component"></input-component>
        <!-- /ko -->
        <!-- ko if: type == 'roundel' -->
        <input-component params="{data: $data, override_theme: $parent.override_theme, override_template: $parent.override_template, preview: $parent.preview, verticalAlign: 'middle'}" data-bind="style: $parent.getElementLayout($data), css: {'component_selected': $parent.childSelected(name)}" class="component"></input-component>
        <!-- /ko -->
        <!-- ko if: type == 'box' -->
        <input-component params="{colorOnly: true, data: $data, override_theme: $parent.override_theme, override_template: $parent.override_template, preview: $parent.preview}" data-bind="style: $parent.getElementLayout($data), css: {'component_selected': $parent.childSelected(name)}" class="component box-component"></input-component>
        <!-- /ko -->
        <!-- ko if: type == 'image' -->
        <image-component params="{data: $data, override_theme: $parent.override_theme, override_template: $parent.override_template, preview: $parent.preview}" data-bind="style: $parent.getElementLayout($data), css: {'component_selected': $parent.childSelected(name)}" class="component image-component"></image-component>
        <!-- /ko -->
        <!-- ko if: type == 'logo' -->
        <image-component params="{data: $data, fit: true, override_theme: $parent.override_theme, override_template: $parent.override_template, preview: $parent.preview}" data-bind="style: $parent.getElementLayout($data), css: {'component_selected': $parent.childSelected(name)}" class="component image-component"></image-component>
        <!-- /ko -->
        <!-- ko if: type == 'noprint' -->
        <div class="no-print" data-bind="style: $parent.getElementLayout($data)">
            <div class="no-print_text" data-bind="text: name"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: type == 'fold' -->
        <div class="fold" data-bind="style: $parent.getElementLayout($data)"></div>
        <!-- /ko -->
    <!-- /ko -->
    <div class="preview-face-name" data-bind="text: data.name"></div>
</div>
<div class="selected-overlay" data-bind="css: {'selected-overlay_visible': overlayVisible}"></div>
