<div class="options-toolbar" data-bind="click: unfocus, css: {'options-toolbar_hidden': hidden}">
	<!-- <dropdown-component params="{options: formats, selected: formatID, anchorClass: 'toolbar-button'}"></dropdown-component> -->
	<a class="toolbar-button toolbar-button_largest">Campaign Design 1</a>
	<span class="toolbar-buttons">
		<a data-bind="click: toggleTemplatePicker, css: {'toolbar-button-container_active': showTemplatePicker}" class="toolbar-button-container">
			<span class="toolbar-button toolbar-button_small toolbar-button_padright">Layout<i class="fa fa-chevron-down"></i></span>
		</a>
		<a data-bind="click: toggleThemePicker, css: {'toolbar-button-container_active': showThemePicker}" class="toolbar-button-container">
			<span class="toolbar-button toolbar-button_small toolbar-button_padright">Theme<i class="fa fa-chevron-down"></i></span>
		</a>
        <a data-bind="click: undo, css: {'disabled': !undoAvailable()}" class="toolbar-button-container">
        	<span class="toolbar-button toolbar-button_small"><span class="icon-backward" style="font-size: 24px; line-height: 30px;"></span></span>
        </a>
        <a data-bind="click: redo, css: {'disabled': !redoAvailable()}" class="toolbar-button-container">
        	<span class="toolbar-button toolbar-button_small"><span class="icon-forward" style="font-size: 24px; line-height: 30px;"></span></span>
        </a>
        <!-- ko ifnot: saving -->
        <a data-bind="click: save, css: {'disabled': uploadingImages().length}" class="toolbar-button-container">
        	<span class="toolbar-button toolbar-button_small"><span class="icon-save" style="font-size: 24px; line-height: 30px;"></span></span>
        </a>
        <!-- /ko -->
        <!-- ko if: saving -->
        <a class="toolbar-button-container disabled">
            <span class="toolbar-button toolbar-button_small">
                <span class="save-spinner"></span>
            </span>
        </a>
        <!-- /ko -->
	</span>
	<span class="toolbar-button toolbar-button_large toolbar-button_right toolbar-button_green" data-bind="click: output">Done  <span class="icon-tick" style="position: absolute;
    right: 25px;
    font-size: 29px;
    top: 10px;"></span></span>
	<span style="padding-left: 25px;" class="toolbar-button toolbar-button_large toolbar-button_right" data-bind="click: togglePreview">Preview <span class="icon-preview" style="position: absolute;
    right: 25px;
    font-size: 29px;
    top: 10px;"></span></span>
</div>
