<div class="options-toolbar options-toolbar_visible" data-bind="click: unfocus">
	<!-- <dropdown-component params="{options: formats, selected: formatID, anchorClass: 'toolbar-button'}"></dropdown-component> -->
	<span class="toolbar-buttons">
		<a data-bind="click: toggleTemplatePicker" class="toolbar-button">Layout</a>
		<a data-bind="click: toggleThemePicker" class="toolbar-button">Theme</a>
        <a data-bind="click: reset, css: {'disabled': !undoAvailable()}" class="toolbar-button">Reset</a>
        <a data-bind="click: undo, css: {'disabled': !undoAvailable()}" class="toolbar-button">Undo</a>
        <a data-bind="click: redo, css: {'disabled': !redoAvailable()}" class="toolbar-button">Redo</a>
	</span>
    <span class="toolbar-button" data-bind="click: output" style="float: right; margin-right: 20px; border: none !important;">Output JSON</span>
</div>
