<div class="side-picker-inner" data-bind="css: {'side-picker-inner_selected': face == viewingFace()}, style: {height: height}, element: container, template: { afterRender: doScale }">
	<!-- ie9 does not support pointer-events: none, so this is necessary -->
	<div class="side-picker-clicker" data-bind="click: selectFace, clickBubble: false"></div>
				
	<side-component class="side side_small" params="{side: face.side, preview: true, face: face}" data-bind="element: element, style: {'transform': scale, '-ms-transform': ms_scale, 'opacity': opacity}"></side-component>
	<span data-bind="text: face.name" class="side-label"></span>
</div>