<div class="tools" data-bind="css: {'tools_visible': isVisible}, style: attachment, click: focusInput, element: element, event: {mousedown: function() {return false}}">
    <!-- ko if: elementType() == 'html' -->

        <!-- ko ifnot: personalizing -->
        <div class="tools-row">
            <dropdown-component params="{options: fonts, selected: font, full: true, focusCallback: focusInput, anchorClass: 'tools-dropdown tools-dropdown_full'}"></dropdown-component>
        </div>

        <div class="tools-row">
            <span class="tools-group">
                <span class="tools-button" data-bind="click: bold, css: {'active': isBold()}"><b>B</b></span>
                <span class="tools-button" data-bind="click: underline, css: {'active': isUnderline()}"><u>U</u></span>
                <span class="tools-button" data-bind="click: italic, css: {'active': isItalic()}"><i>I</i></span>
            </span>

            <span class="tools-group">
                <span class="tools-button" data-bind="click: increaseFontSize"><span style="font-size: 20px;">A</span></span>
                <span class="tools-button" data-bind="click: decreaseFontSize"><span style="font-size: 12px;">A</span></span>
                <span class="tools-button" data-bind="click: fitFontSize"><b class="fa fa-arrows"></b></span>
            </span>
        </div>

        <div class="tools-row">
            <span class="tools-group">
                <span class="tools-button fa fa-align-left" data-bind="click: function() {setStyle('text-align', 'left')}, css: {'active': alignment() == 'left'}"></span>
                <span class="tools-button fa fa-align-center" data-bind="click: function() {setStyle('text-align', 'center')}, css: {'active': alignment() == 'center'}"></span>
                <span class="tools-button fa fa-align-right" data-bind="click: function() {setStyle('text-align', 'right')}, css: {'active': alignment() == 'right'}"></span>
                <span class="tools-button fa fa-align-justify" data-bind="click: function() {setStyle('text-align', 'justify')}, css: {'active': alignment() == 'justify'}"></span>
            </span>
            <span class="tools-group">
                <span class="tools-button fa fa-list-ul" data-bind="click: unorderedList"></span>
                <span class="tools-button fa fa-list-ol" data-bind="click: orderedList"></span>
            </span>
        </div>

        <div class="tools-row">
            <span class="tools-group">
                <colourpicker-component params="{options: colours, selected: colour, focusCallback: focusInput, anchorClass: 'tools-dropdown'}"></colourpicker-component>
            </span>
            <span class="tools-group">
                <div class="tools-button" data-bind="click: togglePersonalization">
                    Add personalization
                </div>
            </span>
        </div>
        <!-- /ko -->

        <!-- ko if: personalizing -->
        <div class="tools-row">
            <div class="tools-left">
                <label>Field:</label>
            </div>
            <div class="tools-right">
                <dropdown-component params="{options: fonts, selected: font, full: true, focusCallback: focusInput, anchorClass: 'tools-dropdown tools-dropdown_full'}"></dropdown-component>
            </div>
        </div>
        <div class="tools-row">
            <div class="tools-left">
                <label>Fallback:</label>
            </div>
            <div class="tools-right">
                <input type="text" class="tools-input" data-bind="click: focusToolsInput, event: {blur: setCaretPosition}, clickBubble: false"/>
            </div>
        </div>
        <button data-bind="click: insertPersonalization">meow</button>
        <!-- /ko -->
    
    <!-- /ko -->
    <!-- ko if: elementType() == 'image' -->
        <!-- ko if: showScale() -->
        <div class="tools-label">
            Size:
        </div>
        <div class="tools-row">
            <slider-component params="{min: 1, max: 400, current: selectedElement().imageObj.scale}"></slider-component>
        </div>
        <div class="tools-label">
            Change Image:
        </div>
        <!-- /ko -->
        <!-- ko ifnot: showScale() -->
        <div class="tools-label">
            Add Image:
        </div>
        <!-- /ko -->
        <div class="tools-row">
            <span class="tools-image tools-image_own" data-bind="click: toggleImageUpload">Use my own Image</span>
            <span class="tools-image-spacer tools-image-spacer_border"></span>
            <span class="tools-image-spacer"></span>
            <span class="tools-image tools-image_library" data-bind="click: toggleImageLibrary">Choose from Library</span>
        </div>
    <!-- /ko -->
</div>