<div class="modal-background" data-bind="click: toggleImageUpload"></div>
<div class="uploadmodal">
    <div class="tabs">
    	<div class="tab" data-bind="click: function(){selectTab('upload')}, css: {'tab_selected': selectedTab() == 'upload'}">Upload</div>
    	<div class="tab" data-bind="click: function(){selectTab('my_images')}, css: {'tab_selected': selectedTab() == 'my_images'}">My Images</div>
    	<div class="tab" data-bind="click: function(){selectTab('library')}, css: {'tab_selected': selectedTab() == 'library'}">Library</div>
    </div>
    <div class="uploadmodal-close icon-close" data-bind="click: toggleImageUpload"></div>
    <!-- ko if: selectedTab() == 'upload' -->
	    <div class="uploadmodal-preview" data-bind="click: clickUpload, event:{ dragover: dragOver, drop: drop}, style: { backgroundImage: 'url(\'' + (src() ? src() : '/canvas/images/upload.png') + '\')' }, css: {'uploadmodal-preview_populated': src()}"></div>
	    <input type="file" id="image-upload" accept="image/*" data-bind="file: {data: fileData, allowed: ['image/jpg', 'image/png', 'image/jpeg', 'image/svg+xml']}" style="opacity: 0;">

	    <div class="uploadmodal-info">
	    	<h2>Here are some tips for making your images look great in print</h2>
	    	<ul>
	    		<li>Choose high quality images</li>
	    		<li>We accept .JPG, .JPEG and .PNG files</li>
	    		<li>Minimum file size 150 KB</li>
	    		<li>Maximum file size 10 MB</li>
	    		<li>You can crop and resize after upload</li>
	    	</ul>
	    	<div class="uploadmodal-info-footer">
	    		Any images uploaded will automatically be added to My Images
	    	</div>
	    </div>
	    <!-- ko if: src() -->
	    <a class="toolbar-button toolbar-button_large toolbar-button_green" data-bind="click: confirm">Use this image</a>
	    <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: selectedTab() == 'library' -->
    	<div class="dropdown-row">
            <dropdown-component params="{options: tags, selected: tag, anchorClass: 'tools-dropdown', placeholder: 'Select Category', autohide: true}"></dropdown-component>
        </div>
    	<div class="library">
	    	<!-- ko foreach: libraryImagesFiltered() -->
	    	<div class="library-image" data-bind="click: $parent.selectLibraryImage, css: {'library-image_selected': $parent.libraryImage() == $data}">
	    		<div class="library-image-inner" data-bind="style: {backgroundImage: 'url(' + SmallSrc + ')'}"></div>
	    	</div>
	    	<!-- /ko -->
	    </div>
	    <!-- ko if: libraryImage() -->
	    <a class="toolbar-button toolbar-button_large toolbar-button_green" data-bind="click: confirm">Use this image</a>
	    <!-- /ko -->
    <!-- /ko -->
</div>