body {
}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

body {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.wrapper {
      margin-left: auto; 
      margin-right: auto;
      width: 1280px;
}

div.home,
div.content {
    padding-left: 20px;
}

.home img + div.rich-text {
     margin-top: -500px;
     /*padding-left: 20px;
     padding-right: 20px;*/
     width: 1240px;
     z-index:100;
}

header .header-navigation {
    display: inline;
    float: right;
    color: black;
    padding: 9px;
}

header nav.main-nav .header-navigation a {
    color: black;
}


header nav.main-nav {
     border: 1px solid black;
    background-color: #dc3232;
    color: #eee;
}

header nav.main-nav a {
   color: #eee;
}

header nav.main-nav ul {
     list-style: none;
     margin:10px;
     padding: 0;
    display: inline-block;
}

header nav.main-nav ul li {
     display: inline-block;
     padding-right: 10px;
}

header nav.main-nav li a {
    text-decoration: none;
}

header nav.main-nav li.selected a {
    text-decoration: underline;
}

label {
    min-width: 200px;
    display: inline-block;
}

.validation-summary-errors, .input-validation-error {
    border: 1px solid rgb(237, 84, 29);
    background-color: rgb(254, 245, 241);
}

.validation-summary-errors, .field-validation-error {
    color: rgb(140, 46, 11);
}

#existingMailshots li span {
    display: inline-block;
    width: 200px;
}

#existingMailshots li a.openLink {
    display: inline-block;
    margin-left: 20px;
}

#existingMailshots li a.deleteLink {
    display: inline-block;
    margin-left: 20px;
    color: red;
}


div.checkbox label { display: inline-block; padding-left: 10px;}