body {
}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

body {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.wrapper {
      margin-left: 30px; 
      margin-right: 30px;
      width: 1280px;
}

.home img + div.rich-text {
     margin-top: -500px;
     padding-left: 20px;
     padding-right: 20px;
     width: 1240px;
     z-index:100;
}

header nav.main-nav {
     border: 1px solid black;
}

header nav.main-nav ul {
     list-style: none;
     margin:10px;
     padding: 0;
}

header nav.main-nav ul li {
     display: inline-block;
     padding-right: 10px;
}

header nav.main-nav li a {
    text-decoration: none;
}

header nav.main-nav li.selected a {
    text-decoration: underline;
}

label {
    min-width: 200px;
    display: inline-block;
}

.validation-summary-errors, .input-validation-error {
    border: 1px solid rgb(237, 84, 29);
    background-color: rgb(254, 245, 241);
}

.validation-summary-errors, .field-validation-error {
    color: rgb(140, 46, 11);
}