<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Order Details</Name>
  <Alias>OrderDetails</Alias>
  <Design><![CDATA[@using RM.MailshotsOnline.Web.Extensions
@using ClientDependency.Core.Mvc
@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.OrderDetails>
@{
    Layout = "Master.cshtml";
    Html.RequiresCss("~/css/orders.css", 2);
}

<div class="content order-details">
    <h1>@Model.Name</h1>
    @if (Model.DisplayCampaignErrorMessage)
    {
        <div class="rich-text">
            @Umbraco.Field("campaignErrorMessage")
        </div>
    }
    else
    {
        <div class="order">
            <div class="preview"></div>
            <div class="actions">
                @if (Model.Campaign.Status == RM.MailshotsOnline.PCL.Enums.CampaignStatus.PendingModeration)
                {
                    @Html.Action("ShowCancelButton", "OrderDetailSurface", new { campaign = Model.Campaign })
                }
                @if (Model.Campaign.Status == RM.MailshotsOnline.PCL.Enums.CampaignStatus.Fulfilled)
                {
                    <a href="#downloadInvoice">Invoice</a>
                }
            </div>
            <h2>@Model.Campaign.Name</h2>
            <div class="status @Model.Campaign.Status.ToString()">
                <h3>@Model.MyOrdersPage.GetStatusText(Model.Campaign)</h3>
                <p>@Html.Raw(Model.MyOrdersPage.GetStatusDescription(Model.Campaign))</p>
            </div>
            <div class="info">
                <span>@Model.MyOrdersPage.OrderPlacedLabel @Model.Campaign.LatestInvoice().CreatedDate.ToString("dd/MM/yy")</span>
                <span>@Model.MyOrdersPage.OrderNumberLabel @Model.Campaign.LatestInvoice().PaypalOrderId <!-- TODO: Get the proper client-facing order number --></span>
                <span>@Model.MyOrdersPage.TotalLabel &pound;@Model.Campaign.LatestInvoice().Total.ToString("F2")</span>
            </div>
        </div>
    }
</div>
]]></Design>
</Template>