<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>My Campaigns</Name>
    <Alias>MyCampaigns</Alias>
    <Icon>icon-screensharing</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Basepage</Master>
    <Compositions>
      <Composition>Basepage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>MyCampaignsAPITestPage</Template>
      <Template>MyCampaigns</Template>
    </AllowedTemplates>
    <DefaultTemplate>MyCampaigns</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>CampaignHub</DocumentType>
    <DocumentType>CaptureDetails</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Default title for new campaigns</Name>
      <Alias>defaultTitleForNewCampaigns</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Settings</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>103</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>104</Id>
      <Caption>Settings</Caption>
      <SortOrder>1</SortOrder>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>