<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>List Detail</Name>
  <Alias>ListDetail</Alias>
  <Design><![CDATA[@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.ListDetail>
@{
    Layout = "Master.cshtml";
}

@section headerScripts
{
    <script type="text/javascript">
        var listId = "@Model.DistributionListId";
    </script>
}

<list-detail-component></list-detail-component>]]></Design>
</Template>