<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>List Detail</Name>
  <Alias>ListDetail</Alias>
  <Design><![CDATA[@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.ListDetail>
@{
    Layout = "Master.cshtml";
}

@section headerScripts
{
    <script type="text/javascript">
        var listId = "@Model.DistributionListId",
        	backUrl = '@Model.BackUrl', // this is also used to redirect the user when a list is deleted
        	backText = '@Model.BackLinkText',
        	campaignId = '@Model.CampaignId';
    </script>
}

<list-detail-component></list-detail-component>]]></Design>
</Template>