<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<MediaType>
  <Info>
    <Name>Public Library Image</Name>
    <Alias>PublicLibraryImage</Alias>
    <Icon>icon-picture</Icon>
    <Thumbnail>icon-folder</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Image</Master>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Tags</Name>
      <Alias>tags</Alias>
      <Type>4023e540-92f5-11dd-ad8b-0800200c9a66</Type>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Tab>Tagging</Tab>
      <Mandatory>True</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>63</Id>
      <Caption>Tagging</Caption>
      <Sort>0</Sort>
    </Tab>
  </Tabs>
</MediaType>