<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Stylesheet>
  <Name>orders</Name>
  <FileName>orders</FileName>
  <Content><![CDATA[body {
}

.order {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 100px;
    clear:both;
}

.order .preview {
    display: block;
    height: 100px;
    width: 200px;
    float: left;
    border: 1px solid grey;
    margin-right: 10px;
    background-color: #DDDDDD;
}

.order h2 {
    margin-top:0;
    margin-bottom: 0.5em;
}

.order .status {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.order .info span {
    display: inline-block;
    margin-right: 30px;
}

.order .actions {
    float:right;
}

]]></Content>
</Stylesheet>