@model RM.MailshotsOnline.Entities.PageModels.ResetPassword

<div>
    <div>
        @Html.Raw(Model.RequestCompleteMessage)
    </div>
    <a href="@Model.RequestCompleteContinuePage.Url">@Model.RequestCompleteContinuePage.Name</a>
</div>