@model RM.MailshotsOnline.Entities.PageModels.ResetPassword

<div>
    <div>
        @Model.RequestCompletedMessage
    </div>
    <a href="@Model.ContinuePage.Url">@Model.ContinuePage.Name</a>
</div>