@model RM.MailshotsOnline.Entities.PageModels.ResetPassword

<div>
    <div>
        @Html.Raw(Model.ResetCompleteMessage)
    </div>
    <a href="@Model.ResetCompleteContinuePage.Url">@Model.ResetCompleteContinuePage.Name</a>
</div>