@model RM.MailshotsOnline.Entities.PageModels.ResetPassword

@{
    var helper = new Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
    var resetCompleteContinuePage = helper.Content(Model.RequestCompleteContinuePage.Id).Url;
}

<div>
    <div>
        @Html.Raw(Model.ResetCompleteMessage)
    </div>
    <a href="@resetCompleteContinuePage">@Model.ResetCompleteContinuePage.Name</a>
</div>