<?xml version="1.0" encoding="utf-8"?>
<FileSystemProviders xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <!-- Media -->
  <!--<Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
    <Parameters>
      <add key="virtualRoot" value="~/media/" />
    </Parameters>
  </Provider>-->

  <Provider alias="media" type="idseefeld.de.UmbracoAzure.AzureBlobFileSystem, idseefeld.de.UmbracoAzure" xdt:Transform="Replace" xdt:Locator="Match(alias)">
    <Parameters>
      <add key="containerName" value="umbracomedia" />
      <add key="rootUrl" value="https://rmqamsoststore.blob.core.windows.net/" />
      <add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=rmqamsoststore;AccountKey=tCYxukHllJYe4pyXIDeoJRpDRCpab9/D2oQS97uUYtlpz3ZSnP7MQXZkfOY/0F7dEubIQulco49YjC/fvCz91g=="/>
      <add key="mimetypes" value="" />
      <add key="cacheControl" value="*|public, max-age=31536000;js|no-cache" />
    </Parameters>
  </Provider>

</FileSystemProviders>
