<?xml version="1.0"?>
<FileSystemProviders>
  
  <!-- Media -->
  <!--<Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
    <Parameters>
      <add key="virtualRoot" value="~/media/" />
    </Parameters>
  </Provider>-->

  <Provider alias="media" type="idseefeld.de.UmbracoAzure.AzureBlobFileSystem, idseefeld.de.UmbracoAzure">
    <Parameters>
      <add key="containerName" value="umbracomedia" />
      <add key="rootUrl" value="https://mrhcrmmsol.blob.core.windows.net/" />
      <add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=mrhcrmmsol;AccountKey=EDu8h+0zzlP9T8roDBXdFd58ti0UQyQNeON0BsT87rfpRSaKxXQ6xCKymGhO/vtsZPygpHrAXY63HkSjQEO5ig=="/>
      <add key="mimetypes" value="" />
      <add key="cacheControl" value="*|public, max-age=31536000;js|no-cache" />
    </Parameters>
  </Provider>

</FileSystemProviders>
